div {
  border-color: red;
  padding: 0.5rem;
  border-width: 2px;
  border-style: solid;

}

div div {
  border-color: orange;
}

div div div{
  border-color: black;
}

div div div div{
  border-color: green;
}

div div div div div{
  border-color: cyan;
}

div div div div div div {
  border-color: blue;
}

div div div div div div div{
  border-color: darkmagenta;
}



