@font-face 
    font-family: "capture-it"
    src: url("./font/capture-it.ttf")

@font-face 
    font-family: "p5hatty"
    src: url("./font/p5hatty.ttf")

*
    user-select: none

body, html
    height: 100%
    background-color: #000000
    padding: 0
    margin: 0
    
#container
    height: 100%
