.native-button {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: olivedrab;
  color: #ecf0f1;
  transition: background-color 0.3s;
  cursor: pointer;
}

.native-button:hover,
.native-button:focus {
  background-color: olivedrab;
}

.native-button > * {
  position: relative;
}

.native-button span {
  display: block;
  padding: 12px 24px;
}

.native-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  transform: translate(-50%, -50%);
}

.native-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
.btn-search {
  background-color: transparent;
  border: none;
  position: absolute;
  display: block;
  top: 4px;
  right: 16px;
}
.icon-search {
  width: 35px;
  outline: none;
}
