$back-color: #39a8ff;

$component-back-color: #fff;
$component-radius: 15px;
$component-ver-indent: 20px;
$component-hor-indent: $component-ver-indent / 2;

$font-color-accent: #4b5d6a;
$font-color-light: #cdcdcd;
 