html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}
* {
    box-sizing: border-box;
}
.hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
.main {
    width: 100%;
}
/* навигация */
.main-navigation {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(65, 166, 255, 0.856);
    height: 5rem;
    flex-flow: row nowrap;
    z-index: 2;
}
.main-logo {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    border: none;
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.788);
    transition: background-color .5s;
}
.main-logo:hover,
.main-logo:focus {
    background-color: rgba(255, 255, 255, 0.925);
    color: rgba(65, 166, 255, 0.856);
    cursor: pointer;
}

/* поле сортировки */
.sort {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    min-height: 5rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}
.sort:hover,
.sort:focus {
    filter: drop-shadow(0 0 .4rem #4c4cff);
}
.hidden:checked + .sort {
    filter: drop-shadow(0 0 .4rem #0000ff);
}
.male {
    background-image: url('../img/mars-solid.svg');
}
.female {
    background-image: url('../img/venus-solid.svg');
}
.name-az {
    background-image: url('../img/sort-alpha-down-solid.svg');
}
.name-za {
    background-image: url('../img/sort-alpha-up-solid.svg');
}
.age-az {
    background-image: url('../img/sort-numeric-up-solid.svg');
}
.age-za {
    background-image: url('../img/sort-numeric-down-solid.svg');
}
#search {
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    color: rgba(85, 85, 92, 0.781);
    outline: none;
}
#search:hover,
#search:focus {
    box-shadow: inset .1rem .1rem .3rem rgb(0, 0, 0);
}
#reset {
    border: none;
    background-color: rgba(65, 166, 255, 0.856);
    text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.788);
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    transition: all .5s;
}
#reset:hover,
#reset:focus {
    background-color:rgb(255, 255, 255);
    color: rgba(65, 166, 255, 0.856);
    text-shadow: 0 0 .5rem rgba(0, 68, 255, 0.788);
}


/* контент */
.main-field {
    width: 100%;
}
.main-field__wrapper {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5.2rem auto;
}
.main-menu {
    display: none;
}
/* карточки */
.card {
    position: relative;
    min-width: 15rem;
    max-width: 21rem;
    height: 22rem;
    margin: .5rem;
    flex: 1 1 auto;
    perspective: 100rem;
}
.card__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    transition: transform .5s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
.card:hover .card__wrapper {
    transform: rotateY(180deg);
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.288);
}
.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: .3rem;
    background-color: rgb(116, 134, 150);
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.466);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.card__front {
    z-index: 2;
    backface-visibility: hidden;

}
.card__back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 0.5rem auto;
}
.card__photo {
    width: 14rem;
    margin-top: 1rem;
    border-radius: 50%;
    transition: all .5s;
    filter: grayscale(100%);
    
}
.card__name,
.card__age {
    text-align: center;
    line-height: 2rem;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: rgb(8, 46, 104);
    text-shadow: 0 0 .3rem rgb(255, 255, 255);
}
.card:hover {
    cursor: pointer;
}
.card:hover .card__photo {
    filter: grayscale(0%);
}
.card__birthday,
.card__email,
.card__id {
    margin: .2rem;
}
.card__email {
    word-break: break-all;
    white-space: pre-wrap;
    width: 90%;
}
/* футер */
.main-footer {
    grid-area: f;
    background-color: rgba(65, 166, 255, 0.856);
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .5s;
}
.fa-at,
.fa-telegram-plane {
    transition: all .5s;
    width: 4rem;
    height: 4rem;
}
.fa-at path,
.fa-telegram-plane path {
    fill: rgba(255, 255, 255, 0.932);
}
.footer__contacts {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}
.fa-at:hover,
.fa-telegram-plane:hover {
    filter: drop-shadow(0 0 .4rem #4c4cff);
}
.main-footer:hover {
    background-color: rgba(255, 255, 255, 0.932);
}
.main-footer:hover .fa-at path,
.main-footer:hover .fa-telegram-plane path {
    fill: rgba(65, 166, 255, 0.856);
}
