div{
  margin: 10px;
  padding: 10px;
  border: 1px solid;
}

div{
  border-color: aqua;
}

div div{
  border-color: red;
}

div div div{
  border-color:yellowgreen;
}

div div div div{
  border-color: rgb(15, 56, 109);
}

div div div div div{
  border-color: violet;
}

div div div div div div{
  border-color: green;
}

div div div div div div div{
  border-color: black;
}