@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

html {
    height:100%;
    width:100%;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background: linear-gradient(to bottom,#f9fbf7, #C9D8FF);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation {
    width: 20%;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu_item {
    text-align: center;
    color: #909dc2;
    cursor: pointer;
    border-bottom: 1px solid #e0e2e9;
    position: relative;
}

.menu_item .menu_item_icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0%;
    fill: #8995b6;
    pointer-events: none;
}

.menu_item.active .menu_item_icon {
    fill: #3d6def;
}

.menu_item:hover {
    color: #3d6def;
}

.menu_item:hover .menu_item_icon {
    fill: #3d6def;
}

.menu_item {
    padding: 15px 0px 15px 0px;
    text-decoration: none;
    color: #909dc2;
    width: 100%;
    height: 100%;
    display: block;
}

.menu_item.active {
    color: #3d6def;
}

.menu_item.active::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: #3d6def;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.content {
    width: 80%;
    text-align: center;
    padding-top: 15px;
}

.content .btn_get_data {
    background-color: #3d6def;
    border: none;
    color: white;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

.content .user_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 25px 0px 25px;
}

.content .user_div img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.content .user_div .user_card .user_info {
    margin-top: 10px;
    word-wrap: break-word;
}

.content .user_div .user_card .user_info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content .currency_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 25px 0px 25px;
}

.content .currency_div .currency_card {
    background-color: #C9D8FF;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.content .currency_div .currency_card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content .loading_div {
    display: none;
}

.content .loading_div.show {
    display: block;
}

.mobile_icon {
    display: none;
    margin: 13px;
}

.mobile_icon * {
    background-color: #909dc2;;
    width: 30px;
    height: 3px;
    margin: 6px;
    transition: 0.4s;
}

.mobile_icon.change .line_1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 3px);
    transform: rotate(-45deg) translate(-6px, 3px);
}

.mobile_icon.change .line_2 {
    opacity: 0;
}

.mobile_icon.change .line_3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .navigation {
        width: 100%;
        max-height: 0;            
        overflow-y: hidden;
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .navigation.active {
        max-height: 147px; 
    }

    .mobile_menu {
        border-bottom: 1px solid #e0e2e9;
        display: flex;
    }

    .mobile_icon {
        display: block;
    }

    .content {
        width: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .content .user_div {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content .user_div .user_card {
        width: 100%;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 200px) {
    body {
        font-size: 12px;
    }

    .content .user_div img {
        width: 50%;
        height: 50%;
    }

    .content .btn_get_data {
        padding: 5px;
        font-size: 12px;
    }

    .content .currency_div .currency_card {
        padding: 0px;
        margin: 5px;
        border-radius: 5px;
    }

    .content .loading_div img{
        width: 50%;
        height: 50%;
    }

    .mobile_icon * {
        width: 20px;
        height: 3px;
        margin: 3px;
    }

    .mobile_icon.change .line_1 {
        -webkit-transform: rotate(-45deg) translate(-2px, 2px);
        transform: rotate(-45deg) translate(-2px, 2px);
    }
    
    .mobile_icon.change .line_2 {
        opacity: 0;
    }
    
    .mobile_icon.change .line_3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px);
        transform: rotate(45deg) translate(-6px, -6px);
    }
}