.pagination {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,.12);
  border-right: none;
  color: #232f34;
  cursor: pointer;
}

.pagination-item.active {
  background: #232f34;
  color: #fff;
}

.pagination-item:last-child {
  border-right: 1px solid rgba(0,0,0,.12);
}
