@font-face {
  font-family: 'Clear Sans';
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url('../fonts/clearsansbold.woff2') format('woff2'), url('../fonts/clearsansbold.woff') format('woff'), url('../fonts/clearsansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

