* {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
}

.container {
    display: flex;
    width: 100%;
}

h1 {
    width: 100%;
    color: #3CBCC3;
    text-align: center;
}

.books {
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

.active {
    background-color: #3CBCC3;
    color: #ffffff !important;
}

.books li {
    width: 100%;
    border-bottom: 2px solid #1D1D2C;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 1.2em 1em;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    text-align: center;
    color: #1D1D2C;
}

.book-content {
    line-height: 1.8;
    height: 100%;
}

.book-author {
    font-style: italic;
    color: rgb(36, 36, 53);
    text-align: right;
    margin-right: 2em;
}

.book-img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

@media all and (max-width: 800px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    .books-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .books {
        width: 100%;
        text-align: center;
    }

    .book-content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1em;
    }
}

@media screen and (min-width: 801px) and (max-width: 1112px) {
    .books-list {
        width: 30%;
    }

    .book-content {
        width: 70%;
        padding-left: 2em;
        padding-right: 1em;
    }
}

@media all and (min-width: 1113px) {
    .books-list {
        width: 30%;
    }

    .book-content {
        width: 70%;
        padding-left: 2em;
        padding-right: 1em;
    }
}