html {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.3rem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem;
}

/* e-mail & pictures links */
.main-link {
  text-decoration: none;
  color: #777;
  margin: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  will-change: color;
  transition: color 0.3s;
}
.main-link:hover {
  text-decoration: underline;
  color: #000;
}
.main-link:focus {
  outline: none;
  text-decoration: underline;
  color: #000;
}
/* END e-mail & pictures links */

/* Menu btn & btn activities */
.menu-btn__label,
.notification-btn__label,
.profile-btn__label {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.5rem;
  cursor: pointer;
}
.menu-btn__svg {
  width: 100%;
  height: 100%;
}
.menu-btn__svg path,
.notification-btn__svg path,
.profile-btn__svg path {
  fill: #777;
  will-change: fill;
  transition: fill .3s linear;
}
.menu-btn:focus + .menu-btn__label > .menu-btn__svg path,
.notification-btn:focus + .notification-btn__label > .notification-btn__svg path,
.profile-btn:focus + .profile-btn__label > .profile-btn__svg path {
  fill: #000;
}
.menu-btn__label:hover > .menu-btn__svg path,
.notification-btn__label:hover > .notification-btn__svg path,
.profile-btn__label:hover > .profile-btn__svg path {
  fill: #000;
}
/* END menu btn & btn activities */

.dropdown-menu {
  width: 32rem;
  height: 28rem;
  display: none;
  flex-flow: column;
  justify-content: space-between;
  border: 1px solid rgb(175, 175, 175);
  position: absolute;
  padding-bottom: 3.6rem;
  top: 7rem;
  right: 1.1rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem gray;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  right: 9rem;
  top: -0.6rem;
  transform: rotate(45deg);
  border-top: 1px solid rgb(175, 175, 175);
  border-left: 1px solid rgb(175, 175, 175);
  background-color: white;
}
.more-services-btn__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  min-height: 3.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 230, 230, 0.671);
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.more-services-btn__label:hover {
  background-color: #8a8a8aab;
}
.more-services-btn:focus + .more-services-btn__label {
  background-color: #8a8a8aab;  
}

.dropdown-menu__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  justify-content: space-around;
  flex-flow: row wrap;
}
.more-services__list {
  display: none;
}
.dropdown-menu__item,
.more-services__item {
  width: 9rem;
  height: 9rem;
  border: 0.1rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-services__item {
  display: none;
}
.dropdown-menu__svg {
  width: 6rem;
  height: 6rem;
}
.dropdown-menu__svg path {
  fill: #777;
}
.dropdown-menu__item:hover,
.more-services__item:hover {
  border: 0.1rem solid rgb(146, 146, 146);
  border-radius: 0.2rem;
}


.menu-btn:checked ~ .dropdown-menu {
  display: flex;
}
.more-services-btn:checked ~ .more-services__item {
  display: flex;
}
