.DS_Store
.lock-wscript
.komodotools
.classpath
.settings
.project
.dropbox
.tmproj
.grunt
.cache
.idea
.CVS
.svn
.hg

!default.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3

*.perspectivev3
*.moved-aside
*.xcuserstate
*.xccheckout
*.sass-cache
*.pbxuser
*.mode1v3
*.mode2v3
*.x86_64
*.esproj
*.dylib
*.class
*.seed
*.orig
*.diff
*.hmap
*.i*86
*.so.*
*.gch
*.pch
*.lib
*.dll
*.out
*.app
*.exe
*.hex
*.dex
*.dat
*.obj
*.out
*.pid
*.swp
*.swo
*.log
*.err
*.elf
*.rej
*.iml
*.ipr
*.iws
*.ipa
*.csv
*.apk
*.ap_
*.gz
*.vi
*.la
*.lo
*.so
*.ko
*.o
*.a
*~

Thumbs.db
npm-debug.log
local.properties
nb-configuration.xml
dwsync.xml
lint.xml

_notes
.idea
.gradle/
.settings
node_modules
build/Release
intermediate
DerivedData
xcuserdata
nbproject
proguard/
proguard
coverage
publish
results
lib-cov
target
build/
pids
logs
bin/
gen/
bin
gen

Icon^M^M
Icon?