body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    color: #424242;

}

h1, h2, h3, h4, h5 {
    margin: 0;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
    transition: min-height 0.3s;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__title {
    font-weight: 300;
    font-size: 3em;
    margin: 0.75em 0.25em;
    color: #212121;
    text-align: center;
}

.header__menu {
    display: none;
}

.nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #616161;
    padding: 1.5em;
}

.nav__item:hover {
    text-decoration: underline;
    color: #212121;
    cursor: pointer;
    font-weight: bold;
}


main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
}


.hero {
    width: 100%;
    position: relative;
    min-height: 300px;
    padding: 1em;
}

.content__sortingName {
    margin: 1em;
    text-align: center;
}
.content__code {
    border-bottom: 1px solid #E0E0E0;
    padding: 1em;
    width: 100%;
}

footer {
    border-top: 1px solid #E0E0E0;
    padding: 1em;
    width: 100%;
}

footer li {
    display: inline-block;
    margin: 0 1em;
}

footer a {
    text-decoration: none;
    color: #333;
    padding: 1.5em;
}
.hero, .content__code, .scores {
    order: 10;
}

@media screen and (max-width: 610px) {

    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom;
    }
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    .nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    .header__menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }
    .header__menu svg {
        width: 32px;
        fill: #E0E0E0;
    }
}

@media screen and (min-width: 611px) {
    .hero {
        order: 0;
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .hero {
        width: 40%;
    }
    .content__code {
        order: 1;
        width: 60%;
    }
}

@media screen and (min-width: 850px) {
    main, .header__inner, .nav, .content {
        width: 850px;
        margin-left: auto;
        margin-right: auto;
    }
}