.form__sign{
  margin-bottom: 75px;
}

.form__sign_question{
  color: $font;
  margin-top: 0;
  margin-left: 70px;
  padding-bottom: 35px;
}

.form__sign_question-link{
  color: $font;
}

.form__sign_question-link:hover{
  color: $red;
}

.form__sign_payment-wrapper{
  display: flex;
  width: 70%;
  margin-left: 70px;
  margin-bottom: 80px;
}

.form__payment_radio-wrapper{
  width: calc(33% - 30px);
  height: 100px;
  margin-right: 30px;
}

.form__card-wrapper{
  display: flex;
}
