.form__footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 75px;
  @include mobileS {
    flex-direction: column;
    align-items: center;
  }
}

.agree{
  cursor: pointer;

}

.agree:focus{
  outline-color: $black;
}

.agree_label{
  cursor: pointer;
  font-size: 13px;
  margin-left: 15px;
  @include mobileS {
   font-size: 18px;
   margin: 0 0 10px;
  }
}

.terms{
  font-size: 13px;
  color: $mainFont;
  margin-right: 45px;
  @include mobileS {
    font-size: 18px;
    margin: 0 0 10px;
   }
}

.terms:hover, .terms:focus{
  color: $submit;
}

.form__footer_buttons{
  padding-right: 100px;
  @include mobileS {
    padding: 0;
    width: 100%;
  }
  @include desktop {
    display: flex;
    padding-right: 0;
  }
}
