
.form__uploud_title-wrapper{
  display: flex;
  flex-wrap: wrap;
  @include mobileS{
    padding-left: 10px;
  }
}

.form__section_number{
  width: 38px;
  height: 38px;
  border: 1px solid $mainFont;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

.form__upload_title{
  margin:7px 15px 7px 30px;
  font-weight: 500;
  @include mobileS {
    font-size: 18px;
    margin:7px 3px 7px ;
  }
}

.form__upload_info{
  font-size: 14px;
  margin:auto 0;
  color: $font;
  @include mobileS {
    margin: auto;
  }
}

.form__upload_table-wrapper{
  margin:0 auto;
  width: 89%;
  height: 160px;
  border: 1px solid $borderLight;
  border-radius: 5px;
  display: flex;
  @include mobileS {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  @include desktop {
    margin-left: 0;
    width: 100%;
    height: auto;
  }
  @include desktopL{
    width: 91%;
  }
}

.form__upload_table{
  margin: 35px 40px;
  width: 100%;
  color: $font;
  border-collapse: collapse;
  @include mobileS {
    margin: 10px;
  }
  @include desktop {
    margin: 10px;
  }
}

.upload__table-title{
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.upload__table-data{  
  padding-top: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  @include mobileS {
    vertical-align: bottom;
  }
}

.upload__table_icon{
  font-size: 20px;
  padding-right: 10px;
}

.upload__table-data_remove{
  text-align: center;
}
