.visually__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form__main-section_label {
  display: block;
  box-sizing: border-box;
  background-color: $button;
  border: 1px solid $borderLight;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.form__main-section_label:hover {
  border-color: $border;
}

.form__main-section_label-wrapper {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-radius: 5px;
}

.main-radio:focus:checked + .form__main-section_label-wrapper {
  border-color: $check;
}

.main-radio:focus:checked + .form__main-section_label-wrapper::before { 
  content: '';
  display: inline-block;
  position: absolute;
  top: -16px;
  right: -16px;
  background-image: url('../img/check.png');
  background-size: 100%;
  background-color: $check; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.label_image {
  width: 105px;
  margin: 25px auto 10px;
  display: block;
}

.label_title {
  font-size: 16px;
  font-weight: 600;
  color: $font;
}

.form__upload_file-wrapper{
  width: 300px;
  height: 50px;
  padding: 50px 70px ;
}

.form__upload_file{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.upload__icon{
  color: $font;
  font-size: 16px;
  padding-right:15px;
}

.form__upload_file-label{
  cursor: pointer;
  border: 2px solid $borderLight;
  border-radius: 5px;
  background-color: $button;
  padding: 20px 30px;
  position: relative
}

.form__upload_file-label:hover{
  border-color: $mainFont;
}

.upload__file:focus + .form__upload_file-label{
  border-color: $mainFont;
}

.form__payment_radio{
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: $button;
  border: 1px solid $borderLight;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

}

.form__payment_radio:hover{
  border-color: $border;
}

.form__payment_radio-image-wrapper{
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-radius: 5px;
}

.form__payment_radio-image{
  width:50%;
}

.payment-radio:focus:checked + .form__payment_radio-image-wrapper{
  border-color: $check;
}

.payment-radio:focus:checked + .form__payment_radio-image-wrapper::before { 
  content: '';
  display: inline-block;
  position: absolute;
  top: -16px;
  right: -16px;
  background-image: url('../img/check.png');
  background-size: 100%;
  background-color: $check; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.form__tone_radio{
  width:230px;
  height: 70px;
  box-sizing: border-box;
  background-color: $button;
  border: 1px solid $borderLight;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.form__tone_radio:hover{
  border-color: $border;
}

.form__tone_radio-title-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border: 5px solid transparent;
  border-radius: 5px;
}

.form__tone_radio-title{
  color: $font;
  padding-left: 20px;
}

.tone_icon{
  color:$font;
}

.tone-radio:focus:checked + .form__tone_radio-title-wrapper {
  border-color: $check;
}

.tone-radio:focus:checked + .form__tone_radio-title-wrapper::before { 
  content: '';
  display: inline-block;
  position: absolute;
  top: -16px;
  right: -16px;
  background-image: url('../../img/check.png');
  background-size: 100%;
  background-color: $check; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


.range__input::-webkit-slider-runnable-track{
  appearance: none;
  background-color: $borderLight;
  width: 100%;
  height: 7px;
  border-radius: 10px;
}

.range__input{
  width: 85%;
  appearance: none;
  position: relative;
  margin-bottom: 20px;
  border-radius: 50%;
}

.range__input:focus{
  outline-color: $yellow;
}

.range__input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: $yellow;
  margin-top: -6px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}

.range__input::before,.range__input::after{
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: $border;
}

.range__input::before{
  left: 0;
}

.range__input::after{
  right: 0;
}

.form__sign_input-wrapper{
  display: flex;
}

.sign_input-wrapper{
  width: 300px;
  height: 50px;
  padding-bottom: 35px;
  margin-left: 70px;
  margin-bottom: 30px;
  position: relative;
}

.form__sign_label{
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: $font;
}

.form__sign_input{
  width: 100%;
  height: 100%;
  border:2px solid $borderLight;
  border-radius: 5px;
  font-size: 18px;
  color: $mainFont;
  padding-left: 15px;
  outline: transparent;
}

.form__sign_status{
  content: '';
  position: absolute;
  right: 0;
  bottom: 23px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.form__sign_input:focus:valid{
  border-color: $check;
}

.form__sign_input:valid + .form__sign_status{
  background-image: url('../img/check.png');
  background-size: 100%;
}

.form__sign_input:focus:invalid{
  border-color: $red;
}

.form__sign_input:invalid + .form__sign_status{
  background-image: url('../img/notcheck.png');
  background-size: 100%;
}

.card__input-wrapper{
  width: 300px;
  height: 50px;
  padding-bottom: 35px;
  margin-left: 70px;
  margin-bottom: 30px;
  position: relative;
}

.card__label{
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  color: $font;
}

.card__input{
  width: 100%;
  height: 100%;
  border:2px solid $borderLight;
  border-radius: 5px;
  font-size: 18px;
  color: $mainFont;
  padding-left: 15px;
  outline: transparent;
}

.card-number{
  width:320px;
}

.card-date{
  width:170px;
}

.card_date{
  text-align: center; 
  font-size: 14px;
}

.card_date::-webkit-input-placeholder{
  color: $font;
}

.card-cvv{
  width: 100px;
}

.card__input_status{
  content: '';
  position: absolute;
  right: 0;
  bottom: 23px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.card__input:focus:valid{
  border-color: $check;
}

.card__input:valid + .card__input_status{
  background-image: url('../img/check.png');
  background-size: 100%;
}

.card__input:focus:invalid{
  border-color: $red;
}

.card__input:invalid + .card__input_status{
  background-image: url('../img/notcheck.png');
  background-size: 100%;
}

.to{
  margin-left:90px;
}

.select_label{
  font-size: 12px;
  font-weight: 700;
  color: $font;
  margin-right: 20px;
  cursor: pointer;
}

.form__select-wrapper{
  width: 220px;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin-right: 25px;
  background-color: $button;
}

.form__select-wrapper:hover{
  border-color: $border;
}

.form__select-wrapper::before{
  content: '';
  display: block;
  background-color: $borderLight;
  width: 2px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 45px;
}

.form__select-wrapper:hover::before{
  background-color: $border;
}

.form__select-wrapper::after{
  content: '';
  display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 10px solid $font;
  position: absolute;
  top: 20px;
  right: 20px;
}

.select__item{
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: $font;
  padding: 0 40px;
  border: 2px solid $borderLight;
  border-radius: 5px;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.select__item:hover{
  border-color: $border;
  color: $mainFont;
}

.select__item:focus{
  outline: none;
  color: $submit;
}
