$body: #eceef4;
$white: #ffffff;
$black: #000000;
$yellow: #edbe76;
$red: #e17776;
$border: #c9d0e1;
$borderLight: #e4e7f0;
$button: #f7f7fa;
$submit: #5fcac6;
$submitDark: #54aca9;
$check: #76a7e1;
$mainFont: #6e768f;
$font: #a5aac6;
