@font-face{
    font-family: 'GothaPro';
    src: url('fonts/GothaProReg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'GothaPro';
    src: url('fonts/GothaProMed.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'GothaPro';
    src: url('fonts/GothaProBol.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
