#device-not-supported
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    font-size: 60px
    font-family: p5hatty
    color: #2dd1ff
    text-shadow: #2dd1ff 0px 0px 2px, #2dd1ff 0px 0px 4px