.filter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.filter-search {
  width: 250px;
  padding: 10px;
  margin: 10px 8px;
  font-weight: 700;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 15px;
  color: #232f34;
}

.filter-select {
  padding: 10px 10px 10px 25px;
  margin: 10px 8px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 15px;
  color: #232f34;
}

.filter-submit {
  width: 90px;
  min-height: 40px;
  font-weight: 700;
  margin: 10px 8px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 15px;
  background: #f9aa33;
  color: #232f34;
  cursor: pointer;
}
