.header{
  text-align: center;
  background-color: red;
}

.game-container{
  margin: 0 auto;
  display: flex;
  width: 450px;
  flex-wrap: wrap;
}

.flip-container{
  width: 100px;
  height: 100px;
  perspective: 1000px;
  padding: 5px;
}

.flip-container.flip .flipper{
		transform: rotateY(180deg);
	}

.flipper{
  width: 100px;
  height: 100px;
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back{
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  opacity: inherit;
}

.front{
  z-index: 2;
	transform: rotateY(0deg);
}

.back{
  transform: rotateY(180deg);
}

.card{
  width: 100%;
  height: 100%;
  border: solid black 2px;
  border-radius: 5px;
  opacity: inherit;
}

.hidden{
  transition: 0.5s;
  visibility: hidden;
}
