$accent-color: olivedrab;

.input__native-group {
  position: relative;
  margin-bottom: 45px;
  margin-right: 20px;
}

.input__native-input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  color: transparent;
  &:focus{
    color: #333;
    outline: none
  }
}

.input__native-label {
  font-family: 'Lobster', cursive;
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
}

.input__native-input:focus ~ .input__native-label {
  top:-20px;
  font-size:14px;
  color: $accent-color;
}

.input__native-bar {
  position: relative;
  display: block;
  width: 320px;
  height: 1px;
  &:before,
  &:after{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:$accent-color;
    transition:0.2s ease all;
  }

  &:before{
    left: 50%;
  }

  &:after{
    right: 50%;
  }
}

.input__native-input:focus ~ .input__native-bar:before,
.input__native-input:focus ~ .input__native-bar:after {
  width: 50%;
}

.input__native-highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.input__native-input:focus ~ .input__native-highlight {

  animation:inputHighlighter 0.3s ease;
}

//@keyframes inputHighlighter {
//  from { background:orange; }
//  to 	{ width:0; background:transparent; }
//}
