<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <section class="footer__section mission">
        <h4 class="footer__title">
          <span class="fa fa-heart fa-lg icon-footer" aria-hidden="true"></span
          >what we do
        </h4>
        <p class="footer__text footer__text--italic">
          We provide a full range of language services including content
          development, document, website and social media accounts translations.
        </p>
      </section>
      <section class="footer__section adress">
        <h4 class="footer__title">
          <span
            class="fa fa-compass fa-lg icon-footer"
            aria-hidden="true"
          ></span
          >our main office
        </h4>
        <address class="footer__adress">
          <p class="footer__text">Dubai, UAE</p>
          <p class="footer__text">P.O. Box: 502735</p>
          <p class="footer__text ">
            <a class="footer__text footer__link" href="tel:+971044278128"
              >Phone: +971(0) 44278128</a
            >
          </p>
        </address>
      </section>
      <section class="footer__section contact">
        <h4 class="footer__title">
          <span
            class="fa fa-share-alt fa-lg icon-footer"
            aria-hidden="true"
          ></span
          >connect with us
        </h4>

        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__text footer__link" href="#">
              <span class="fa fa-facebook icon-list" aria-hidden="true"></span>
              Facebook
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__text footer__link" href="#">
              <span class="fa fa-twitter icon-list" aria-hidden="true"></span>
              Twitter
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__text footer__link" href="#"
              ><span class="fa fa-linkedin icon-list" aria-hidden="true"></span>
              LinkedIn</a
            >
          </li>
        </ul>
      </section>

      <div class="footer__section">
        <a href="#">
          <img class="footer__logo" src="img/logo-dark.jpg" alt="dark-logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
