<header class="header">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a class="btn btn-grey-upper-text nav__link" href="#">
            <span class="icon fa fa-long-arrow-left"></span>
            go back
          </a>
        </li>
        <li class="nav__list-item">
          <a class="nav__link" href="#"
            ><img class="nav__logo" src="img/logo.jpg" alt="logo"
          /></a>
        </li>
        <li class="nav__list-item">
          <a class="btn btn-grey-upper-text nav__link" href="#">
            <span class="icon fa fa-user"></span>
            sign in
          </a>
        </li>
      </ul>
    </nav>
</header>
