$lightgray: #565656;
$darkgray: #1c1c1c;
$headerHeight: 50px;
$headerPadding: 10px;
$itemMargin: 15px;
$iconSizeSmall: 20px;
$iconSizeLarge: 30px;

@mixin icon($size, $color1, $color2){
  width: $size;
  height: $size;
  .fas{
    font-size: $size;
    color: $color1;
    &:hover{
      color: $color2;
    }
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  height: $headerHeight;
  justify-content: flex-end;
  align-items: center;
  padding: $headerPadding;
}

  .nav-item{
    margin-right: $itemMargin;
  }

  .link{
    color: $darkgray;
      &:hover{
        color: $lightgray;
      }
  }
  .icon{
    @include icon($iconSizeSmall, $lightgray, $darkgray)
  }

  .icon-lg{
    @include icon($iconSizeLarge, $lightgray, $darkgray)
  }