.section-translate{
  height: 500px;
  width: 900px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.section-translate__desc{
  width: 500px;
  text-align: justify;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-translate__desc > .section-translate__text__center{
  width:100%;
  height: 1px;
  display:inline-block;
}

.section-translate__horizontal-line{
  position: relative;
  top: -30px;
}

.section-translate__options{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section-translate__buttons{
  width: 275px;
  height: 200px;
  border: 1px solid rgba(201,208,225,1);
  background-color: rgba(236,238,244,1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section-translate__input__hidden{
  position: absolute;
  left: -2000px;
  top: 700px;
}

.section-translate__input__hidden:checked + label{
  outline: 2px solid green;
}

.section-translate__input__hidden + label:after{
  opacity: 0;
  content: url("img/checked.png");
  position: relative;
  top:-150px;
  left: 150px;
}

.section-translate__input__hidden:checked + label:after{
  opacity: 1;
  content: url("img/checked.png");
  position: relative;
  top:-160px;
  left: 140px;
}
