body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #0c161e;
  
}

.app {
  max-width: 95%;
  max-width: 1440px;
	margin: 0 auto;
  padding: 0 10px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 10px;
  border-bottom: 4px solid #e2b100;
}

.app-header h1 > a {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 35px;
}

.app-header ul {
  display: flex;
}

.app-header li {
  margin-right: 20px;
}

.app-header li:last-of-type {
  margin-right: 0;
}

.app-header a {
  display: block;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.app-body {
  width: 100%;
  display: flex;
}

.app-sidebar {
  max-width: 300px;
  min-width: 300px;
  width: 100%;
  margin-right: 25px;
  margin-top: 30px;
}

.search-box {
  position: relative;
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
  padding: 8px;
  background-color: #e2b100;
  color: darkslategrey;
}

.search-box span,
.search-box input,
.search-box label {
  display: inline-block;
}

.search-box span {
  width: 50%;
}

.search-box input[type='radio'] {
  width: 20px;
  height: 20px;
}

.search-box label {
  width: 50px;
}

.search-input {
  display: inline-block;
  width: 60%;
  border-radius: 2px;
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.search-btn {
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding: 10px 10px;
  text-transform: uppercase;
  background-color: #3f51b5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: all .1s linear;
}

.search-btn:hover {
  background-color: #ff5722;
}

.user-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-list__item {
  width: 22%;
  min-width: 215px;
  max-width: 270px;
  padding: 30px 15px;
}

.user-card {
  position: relative;
  padding: 8px;
  height: 100%;
  max-height: 320px;
  color: #0c161e;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-transition: -webkit-box-shadow .3s ease-out;
  transition: -webkit-box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
  transition: transform .7s;
}

.user-card:hover {
  box-shadow: 0 0 25px 2px rgba(230,236,241,.4);
  transform: scale(1.1);
}

.user-card__img-wrap {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  border: none;
  padding: 3px;
  border: 2px solid #e2b100;
  border-radius: 100%;
}

.user-card__img {
  width: 100%;
  border-radius: 100%;
}

.user-card__btns {
  margin: 0 auto 20px;
  width: 90%;
  max-width: 170px;
}

.btn-card {
  font-size: 12px;
  width: 80px;
}

.btn-msg {
  background-color: #ff5722;
}

.search-btn:hover.btn-flw {
  background-color: #3f51b5;
}

.user-card__name {
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
}

.user-info {
  text-align: center;
  font-weight: 900;
  color: grey;
  text-transform: capitalize;
}

@media (max-width: 590px) {
  .app-body {
    display: flex;
    flex-direction: column;
  }

  .app-sidebar {
      margin: 30px auto 0;
  }

  .app-header ul {
    display: none;
  }

  .app-header nav {
    width: 30px;
    height: 30px;
    background-image: url('../img/menu.svg');
    background-size: 100%;
  }
}





