img, .back, td {
    width: 150px;
    height: 150px;
}

table {
    margin: auto;
}

.flip-container {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.back{
	background-color: #eeccee;
}

.front, .back{
	backface-visibility: hidden;
	position: absolute;
}

.flip{
	transform: rotateY(180deg);
}
