#score-page
    position: absolute
    width: 100%
    height: 100%
    left: 50%
    transform: translate(-50%, 0)
    background-image: linear-gradient(to right top, #99457c, #aa4876, #b84d6f, #c45467, #cd5e5e)
    transition: all .5s cubic-bezier(.7,.03,.95,1.17) 
    transition-delay: .3s;
    animation: score-page-show 0.5s ease-in 0s 1

.score-page-rebound
    animation: score-page-rebound 0.5s ease-in 0s 1 !important

@keyframes score-page-show
    0% 
        bottom: calc(100%)
    100% 
        bottom: 0

@keyframes score-page-rebound
    0% 
        bottom: 0
        animation-timing-function: ease-out
    17% 
        bottom: 20px
        animation-timing-function: ease-in
    34% 
        bottom: 0
        animation-timing-function: ease-out
    51% 
        bottom: 7px
        animation-timing-function: ease-in
    68% 
        bottom: 0px
    85% 
        bottom: 2px
        animation-timing-function: ease-in
    100% 
        bottom: 0 

.score-page-congratulation
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%) rotateZ( -15deg )
    font-family: p5hatty
    font-size: 120px
    color: #ffffff
    text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 6px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px
    animation-name: score-page-congratulation
    animation-duration: .5s
    animation-delay: .8s
    animation-iteration-count: 1
    animation-timing-function: step-end
    animation-fill-mode: forwards

@keyframes score-page-congratulation
    0% 
        text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 6px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px
    10% 
        text-shadow: none
    30% 
        text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 6px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px
    40% 
        text-shadow: none
    50% 
        text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 6px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px
    60% 
        text-shadow: none
    65% 
        text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 6px, #FF2D95 0px 0px 7px, #FF2D95 0px 0px 8px, #FF2D95 0px 0px 9px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px
    100% 
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px
