.form-payment-method {
  margin-top: 80px;
}

.form-payment-method p {
  margin: 54px 0;
  margin-bottom: 30px;
}

.payment-method-wrapper {
}

.sign-up-row {
  display: flex;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 18px 0;
}

.input-group label {
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.7;
}

.input-sign-up input {
  width: 270px;
  border: 2px solid rgba(111, 118, 146, 0.3);
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px;
  margin-right: 30px;
  color: inherit;
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  max-height: 52px;
}

.payment-media-button {
  margin-right: 30px;
  margin-top: 30px;
}

.payment-button-label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 30px;
  padding: 32px 0px;
  background: $button-bg-white;
  border: 1px solid rgba(111, 118, 146, 0.3);
  cursor: pointer;
}

.payment-button-label-wrapper img {
  width: 94px;
}

.payment-button-label-wrapper:hover {
  outline: 2px solid $color-outline-hover;
}

.payment-media-button input {
  appearance: none;
  -webkit-appearance: none;
}

.payment-media-button input:checked + .payment-button-label-wrapper {
  outline: 5px solid $color-outline;
}

.payment-media-button input:checked + .payment-button-label-wrapper:after {
  font-size: 18px;
  font-weight: 500;
  content: "\2714";
  position: absolute;
  margin-left: 110px;
  margin-top: -50px;
  background: #76a5df;
  color: #fff;
  width: 15px;
  height: 15px;
  padding: 8px;
  border-radius: 50%;
}

.payment-card-data {
  margin-top: 60px;
}

.input-card-number input,
.input-expiry-date input,
.input-card-code input {
  width: 350px;
  border: 2px solid rgba(111, 118, 146, 0.3);
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px;
  margin-right: 30px;
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  max-height: 52px;
}

.input-expiry-date input {
  width: 140px;
}

.input-card-code input {
  width: 70px;
}

.form-submit-wrapper {
  text-align: right;
  margin-top: 80px;
  margin-bottom: 75px;
}

.terms-and-conditions {
  font-size: 13px;
}

.form-submit-wrapper .form-button {
  margin-left: 30px;
}

.print-a-quote {
  font-size: 13px;
  letter-spacing: 1px;
  min-width: 170px;
  padding: 18px 20px;
  border: 1px solid rgba(111, 118, 146, 0.3);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: border 0.2s, background 0.2s;
}
