$white: #fff;
$gray: #6f7692;
$yellow: #edbe76;
$yellow-2: #e0b16a;

$button-bg-aqua: #5fcac6;
$button-bg-aqua-hover: #5aa7a9;
$button-bg-white: #f7f7fa;
$button-bg-white-hover: #f2f2f2;

$color-outline: #76a5df;
$color-outline-hover: rgba(111, 118, 146, 0.3);

$link-colot-hover: #70d0f6;

$footer-bg: #444a62;
$footer-text-color: #b3b9d7;
