*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.title {
  color: #008cba;
  display: flex;
  margin: 20px auto;
}

.filter-panel {
  min-width: 20%;
  background-color: #2c2e31;
  color: #fff;
}
.dashboard {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-wrap: wrap;
}

#resetBtn {
  display: flex;
  margin: 20px auto;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/* This CSS from the internet :) */
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #008cba;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #fff;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}
.inp input:not(:placeholder-shown) + span {
  color: #fff;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #008cba;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}

figure {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
