<div class="form-footer">
    <label for="terms" class="terms footer__element">
        <input type="checkbox" name="terms" id="terms" required>
        I agree to the <a href="">Terms &amp; Conditions</a>
    </label>

    <button class="button button--primary footer__element">Place order</button>
    <button type="button" class="button footer__element">Print a quote</button>
</div>