<fieldset class="fieldset fieldset--number">
        <legend class="legend">Choose your languages pairings</legend>

        <div class="row">
        <label for="language_from" class="form-label">From</label>
            <select name="language_from" id="language_from" class="form-input form-input__select" required>
                <option value="" disabled selected></option>
                <option value="english">English</option>
            </select>
        </div>

        <div class="row">
            <label for="language_to_1" class="form-label">To</label>
            <select name="language_to_1" id="language_to_1" class="form-input form-input__select" required>
                <option value="" disabled></option>
                <option value="english">Arabic</option>
            </select>
        

        <select name="" id="" class="form-input form-input__select">
                <option value="" disabled></option>
                <option value="english">Kurdish</option>
            </select>

            <button type="button" class="form-button form-button--small form-button--transparent" title="Delete"><i class="fas fa-trash"></i></button>

            <button type="button" class="form-input form-button" title="Add"><i class="fas fa-plus"></i> Add</button>
        </div>
    </fieldset>