<div class="form-header">
        <div class="form-header__block summary">
            <strong class="summary__title"><i class="fas fa-clipboard"></i>YOUR ORDER</strong>

            <dl class="details">
                <div class="details__group">
                <dt class="details__name">Items</dt>
                <dd class="details__info">2 documnets</dd>
                </div>

                <div class="details__group">
                <dt class="details__name">Details</dt>
                <dd class="details__info">2 languages</dd>
                </div>

                <div class="details__group">
                <dt class="details__name">Price</dt>
                <dd class="details__info">$ 696.06</dd>
                </div>

                <div class="details__group">
                <dt class="details__name">Delivery</dt>
                <dd class="details__info">48 hours*</dd>
                </div>
            </dl>
        </div>

        <div class="form-header__block">
            <button class="button button--primary">Place order</button>
            <button class="button" type="button">Print a quote</button>    
        </div>

        <div class="form-header__block help">
            <strong class="summary__title"><i class="far fa-life-ring"></i>HELP CENTER</strong>

            <p class="help__text">If you need assistance while placing your order, contact one of our beloved Project Manager by phone or email.</p>

            <address>
                <a href="tel:+9710555555" class="help__link">+971 (0) 555 555</a>
                <a href="mailto:help@qtest.com" class="help__link">help@qtest.com</a>
            </address>
        </div>
    </div>