<fieldset class="fieldset fieldset--number fieldset--small">
        <legend class="legend">Tell us how urgent this job is</legend>

        <div class="range">
            <input type="range" class="range__input" min="0" max="2" step="1">
            <div class="range__labels">
                <ul>
                    <li>I GOT TIME</li>
                    <li>AVEARGE</li>
                    <li>YESTERDAY</li>
                </ul>
            </div>
        </div>

        <div class="info">
            <strong><i class="fas fa-info-circle"></i>Timeline info</strong>
            <p>With an <strong class="">AVERAGE</strong> timeline set up, our expert translator can take a reasonable amount of time perfecting your translation</p>
        </div>
    </fieldset>