<fieldset class="fieldset fieldset--number">
    <legend class="legend">Upload your documents<small class="small">(Doc, Docx, Text, PDF, Markdown)</small></legend>

    <input type="file" name="file_upload" id="file_upload" class="visualy__hidden file-upload__input">
    <label for="file_upload" class="form-input form-button file-upload__label">
        <i class="fas fa-cloud-upload-alt"></i> Upload a new file
    </label>

    <div class="table">
        <div class="row row__header">
            <div class="col-3">FILE NAME</div>
            <div class="col-2">FILE SIZE</div>
            <div class="col-2">NUMBER OF WORDS</div>
            <div class="col-1 col--center">REMOVE</div>
        </div>

        <div class="row">
            <div class="col-3"><i class="fas fa-file-alt"></i> business_operations.docx</div>
            <div class="col-2">78kb</div>
            <div class="col-2">842</div>
            <div class="col-1 col--center"><button type="button" class="form-button form-button--small form-button--transparent" title="Delete"><i class="fas fa-trash"></i></button></div>
        </div>

        <div class="row">
            <div class="col-3"><i class="fas fa-file-alt"></i> business_financial.docx</div>
            <div class="col-2">26kb</div>
            <div class="col-2">2,326</div>
            <div class="col-1 col--center"><button type="button" class="form-button form-button--small form-button--transparent" title="Delete"><i class="fas fa-trash"></i></button></div>
        </div>
    </div>
</fieldset>