<fieldset class="fieldset fieldset--number fieldset--small">
        <legend class="legend">Select your desired tone</legend>

        <label for="tone_casual" class="radio-button">
            <input type="radio" name="tone_type" id="tone_casual" class="visualy__hidden radio-button__input" value="casual" required>
            <div class="radio-button__content radio-button__content--small">
                <i class="fas fa-comments"></i>
                Friendly / Casual
            </div>
        </label>

        <label for="tone_pro" class="radio-button">
            <input type="radio" name="tone_type" id="tone_pro" class="visualy__hidden radio-button__input" value="corporate" required>
            <div class="radio-button__content radio-button__content--small">
                <i class="fas fa-suitcase"></i>
                Corporate / Pro
            </div>
        </label>

        <label for="tone_formal" class="radio-button">
            <input type="radio" name="tone_type" id="tone_formal" class="visualy__hidden radio-button__input" value="formal" required>
            <div class="radio-button__content radio-button__content--small">
                <i class="fas fa-bullhorn"></i>
                Media / Formal
            </div>
        </label>
    </fieldset>