<fieldset class="fieldset fieldset--hero">
    <legend class="legend">Select what you want to translate</legend>

    <div class="type">
        <label for="type_website" class="radio-button">
            <input type="radio" name="ducument_type" id="type_website" class="visualy__hidden radio-button__input" value="website">
            <div class="radio-button__content radio-button__content--large">
                <span>Website</span>
            </div>
        </label>

        <label for="type_documents" class="radio-button">
            <input type="radio" name="ducument_type" id="type_documents" class="visualy__hidden radio-button__input" value="documents" checked>
            <div class="radio-button__content radio-button__content--large">
                <span>Documents</span></div>
        </label>

        <label for="type_social" class="radio-button">
            <input type="radio" name="ducument_type" id="type_social" class="visualy__hidden radio-button__input" value="social">
            <div class="radio-button__content radio-button__content--large">
                <span>Social account</span></div>
        </label>
    </div>
</fieldset>