<style>
    html {
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-image: url('img/checkout-preview_1x.png');
    }
</style>
<link href="css/styles.css" rel="stylesheet" />
<script src="js/script.js"></script>