<form class="form" method="post" action="">
    {% include "partials/_form_header.njk" %}

    <section class="section">

        {% include "partials/_form_doctype.njk" %}

        {% include "partials/_form_upload.njk" %}

        {% include "partials/_form_language.njk" %}

        {% include "partials/_form_tone.njk" %}

        {% include "partials/_form_urgent.njk" %}

        {% include "partials/_form_payment.njk" %}

        {% include "partials/_form_footer.njk" %}

    </section>
</form>