* {
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: "DDG_ProximaNova", "DDG_ProximaNova_UI_0", "DDG_ProximaNova_UI_1",
    "DDG_ProximaNova_UI_2", "DDG_ProximaNova_UI_3", "DDG_ProximaNova_UI_4",
    "DDG_ProximaNova_UI_5", "DDG_ProximaNova_UI_6", "Proxima Nova",
    "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L",
    "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
  color: #333;
}

body {
  background-color: #f7f7f7;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ddg {
  font-family: "ddg-serp-icons" !important;
  color: $grey-color;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
}

.link {
  color: #4495d4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
