$default-font: "HelveticaNeue", sans-serif;

/* colors */

$text: #f7f1e3;
$backgroundColor: #1e272e;
$backgroundItem: rgba(255, 255, 255, 0.1);
$backgroundItemHover: rgba(255, 255, 255, 0.3);

/* measurements units */

$borderRadius: 5px;
$elementsHeight: 55px;

/* fonts */

$smallerFont: 0.857em; // 12px
$biggerFont: 1.143em; // 16px

/* paths */

$imagePath: "../img";
