@import "vars";
@import "./_mixins/custom-mixins";

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

input::placeholder {
    color: $text;
}

body {
    line-height: 1.5;
    font-family: $default-font;
    font-weight: normal;
    color: $text;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

figure {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
