.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  overflow: auto;
}

.characters h1 {
  margin: 0;
}

.preloader {
  margin-top: 5%;
  text-align: center;
}

