*, body {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial, sans-serif; }

.header {
  padding: 20px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
  font-size: 14px; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .navigation-list .list-item {
      margin: 0 10px; }
      .navigation-list .list-item .post:hover,
      .navigation-list .list-item .images:hover {
        border-bottom: 1px solid #000; }
      .navigation-list .list-item:focus {
        -webkit-box-shadow: 0 0 0 3px #7bb0ff;
                box-shadow: 0 0 0 3px #7bb0ff;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        outline: none; }
      .navigation-list .list-item .apps-input {
        display: none; }
      .navigation-list .list-item .apps-label .apps-icon {
        width: 20px;
        height: 20px;
        background-image: url(../img/menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
        cursor: pointer;
        -webkit-background-size: contain;
                background-size: contain;
        display: block; }
        .navigation-list .list-item .apps-label .apps-icon:hover {
          opacity: 1; }
      .navigation-list .list-item .apps-label .apps-close {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1; }
      .navigation-list .list-item .apps-popup {
        display: none; }
        .navigation-list .list-item .apps-popup:before {
          content: "";
          width: 12px;
          height: 12px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          position: absolute;
          top: 54px;
          left: 48%;
          background-color: #fff;
          z-index: 10;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        .navigation-list .list-item .apps-popup .wrapper {
          position: absolute;
          max-height: 500px;
          width: 320px;
          right: 5%;
          top: 60px;
          overflow-y: scroll;
          border: 1px solid #f5f5f5;
          border-color: rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
          .navigation-list .list-item .apps-popup .wrapper .apps-popup-block {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: start;
                -ms-flex-pack: start;
                    justify-content: start;
            -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
            padding: 15px 20px; }
            .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .popup-item {
              width: 33%;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              text-align: center;
              padding: 6px;
              border: 1px solid #fff; }
              .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .popup-item:hover {
                border: 1px solid #ddd; }
              .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .popup-item .app-image {
                width: 70%;
                height: 50px; }
            .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .other-products {
              width: 100%;
              color: rgba(0, 0, 0, 0.87);
              text-align: center;
              margin-top: 30px; }
              .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .other-products:hover {
                color: #808080; }
            .navigation-list .list-item .apps-popup .wrapper .apps-popup-block .account-image {
              -webkit-border-radius: 50%;
                      border-radius: 50%; }
          .navigation-list .list-item .apps-popup .wrapper .additional-items {
            display: none; }
        .navigation-list .list-item .apps-popup .more-apps {
          display: none; }
          .navigation-list .list-item .apps-popup .more-apps:checked ~ .additional-items {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
          .navigation-list .list-item .apps-popup .more-apps:checked ~ .more-button {
            height: 1px;
            margin-bottom: 20px;
            overflow: hidden;
            width: 80%;
            display: block;
            margin: 0 auto; }
        .navigation-list .list-item .apps-popup .more-button {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 14px;
          width: 100%;
          height: 35px;
          background: #f5f5f5;
          cursor: pointer;
          -webkit-box-shadow: 0 -10px 20px #fff;
                  box-shadow: 0 -10px 20px #fff;
          opacity: 1;
          border: 1px solid #f5f5f5; }
          .navigation-list .list-item .apps-popup .more-button:hover {
            border: 1px solid #ccc; }
    .navigation-list .notify {
      padding: 5px;
      background: #000;
      opacity: 0.5;
      -webkit-border-radius: 20px;
              border-radius: 20px; }
      .navigation-list .notify:hover {
        opacity: 1; }
      .navigation-list .notify-link {
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/bell.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        -webkit-background-size: 70% 70%;
                background-size: 70%; }
    .navigation-list .user {
      -webkit-border-radius: 20px;
              border-radius: 20px;
      position: relative;
      padding: 5px; }
      .navigation-list .user-link {
        background-image: url(https://lh3.googleusercontent.com/-wR45nNlb0jY/AAAAAAAAAAI/AAAAAAAAAAA/ACevoQOrtxfoKv7go3rZDlVl-xoTZ7AifA/s64-c-mo/photo.jpg);
        display: block;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        -webkit-background-size: cover;
                background-size: cover;
        -webkit-border-radius: 20px;
                border-radius: 20px; }

.apps-input:checked ~ .apps-popup {
  display: block; }

.apps-input:focus ~ .apps-label .apps-icon {
  outline: 2px solid #4d90fe; }

.apps-input:checked + .apps-label > .apps-close {
  display: block; }
