body {
  margin: 0;
  padding: 0; }

.google-popup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .google-popup__link {
    font-size: 14px;
    text-decoration: none;
    color: #494747;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none; }
    .google-popup__link:hover {
      color: #0a0a0a; }
    .google-popup__link:active {
      color: #e6dada; }
  .google-popup_margin-right {
    margin-right: 10px; }
  .google-popup_margin-both {
    margin: 0 20px; }
  .google-popup__hidden-apps {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45vh;
    height: 70vh;
    border: 1px solid #cac7c7;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    top: 80px;
    right: 15px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(82, 79, 79, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(82, 79, 79, 0.75); }
    .google-popup__hidden-apps a {
      font-size: 14px;
      color: #2b2929;
      text-decoration: none; }
    .google-popup__hidden-apps::after {
      content: "";
      border: 10px solid transparent;
      border-bottom: 10px solid #cac7c7;
      position: absolute;
      top: -20px;
      right: 35%; }
  .google-popup__all-items-container {
    width: 80%;
    height: -webkit-calc(100% - 80px);
    height: calc(100% - 80px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    margin-top: 40px;
    overflow: auto; }
  .google-popup__more-btn {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none; }
    .google-popup__more-btn:hover {
      background: #eceaea;
      cursor: pointer; }
    .google-popup__more-btn:active {
      background: #cebbbb; }
    .google-popup__more-btn::after {
      content: 'More'; }
    .google-popup__more-btn:focus {
      background: #888282; }
  .google-popup__more-from-google {
    width: 100%;
    height: 40px;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    position: absolute;
    bottom: 0;
    left: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none; }
    .google-popup__more-from-google:active {
      color: #dbd2d2; }
    .google-popup__more-from-google::after {
      content: 'Even more from Google';
      font-size: 12px; }
  .google-popup__hidden-item {
    width: 33.3%;
    height: 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start; }
    .google-popup__hidden-item:hover span {
      color: #3c4ba1; }
    .google-popup__hidden-item:focus {
      outline: none; }
  .google-popup_hidden-add-apps {
    display: none; }
  .google-popup__apps-icon {
    width: 100%;
    height: 60%; }
  .google-popup__notifications {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 25px;
    height: 25px;
    background: #919197 url(../img/notifications.png) no-repeat center;
    -webkit-background-size: 45% 45%;
            background-size: 45%;
    -webkit-border-radius: 50px;
            border-radius: 50px; }
    .google-popup__notifications:hover {
      background: #707077 url(../img/notifications.png) no-repeat center;
      -webkit-background-size: 45% 45%;
              background-size: 45%;
      cursor: pointer; }
  .google-popup__user-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    background: url(../img/user-photo.png) no-repeat center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.google-popup__more-from-google:hover {
  text-decoration: underline; }

.apps-docs-icon {
  background: url(../img/docs.png) no-repeat center top;
  -webkit-background-size: 35% 35%;
          background-size: 35%; }

.apps-translate-icon {
  background: url(../img/trans.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-google-plus-icon {
  background: url(../img/google-plus.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-google-search-icon {
  background: url(../img/search.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-youtube-icon {
  background: url(../img/youtube.png) no-repeat center 5px;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-play-icon {
  background: url(../img/play.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-gmail-icon {
  background: url(../img/gmail.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-drive-icon {
  background: url(../img/drive.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-calendar-icon {
  background: url(../img/calend.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-bisiness-icon {
  background: url(../img/bisiness.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-blogger-icon {
  background: url(../img/blogger.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-photos-icon {
  background: url(../img/photos.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-maps-icon {
  background: url(../img/maps.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-contacts-icon {
  background: url(../img/contacts.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-hangouts-icon {
  background: url(../img/hangouts.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-jamboard-icon {
  background: url(../img/jamboard.png) no-repeat center top;
  -webkit-background-size: 35% 35%;
          background-size: 35%; }

.apps-classroom-icon {
  background: url(../img/classroom.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-earth-icon {
  background: url(../img/earth.png) no-repeat center top;
  -webkit-background-size: 50% 50%;
          background-size: 50%; }

.apps-collections-icon {
  background: url(../img/collections.png) no-repeat center top;
  -webkit-background-size: 40% 40%;
          background-size: 40%; }

.show-apps {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url(../img/show-apps.png) no-repeat center;
  position: relative; }
  .show-apps:hover {
    background: url(../img/show-apps-act.png) no-repeat center;
    cursor: pointer; }
  .show-apps:focus {
    outline-color: #3c8d57; }

.show-apps:checked ~ .google-popup__hidden-apps {
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1; }

.google-popup__more-btn {
  -webkit-appearance: none;
  margin: 0; }
  .google-popup__more-btn:focus {
    outline: none; }

.google-popup__more-btn:checked ~ .google-popup__hidden-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.google-popup__more-btn:checked {
  display: none; }

.google-popup__more-btn:checked ~ .google-popup__more-from-google {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.google {
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 35%; }
  .google__first-letter {
    width: 120px;
    height: 100%;
    background: url(../img/G-google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-animation: background 5s infinite linear;
            animation: background 5s infinite linear; }
  .google__rest-word {
    width: 290px;
    height: 100%;
    background: url(../img/google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }

@-webkit-keyframes background {
  0% {
    background: url(../img/G-google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  35% {
    background: url(../img/G-google-green.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  75% {
    background: url(../img/G-google-yellow.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  80% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    background: url(../img/G-google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; } }

@keyframes background {
  0% {
    background: url(../img/G-google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  35% {
    background: url(../img/G-google-green.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  75% {
    background: url(../img/G-google-yellow.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; }
  80% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    background: url(../img/G-google.png) no-repeat center;
    -webkit-background-size: contain;
            background-size: contain; } }
