body {
    font-family: 'Open Sans', sans-serif;
    background: #eee;
    font-size: 14px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.control {
    width: 100%;
    align-self: center;
    text-align: center;
}

.radio-container {
    margin: 10px;
    position: relative;
    padding: 0 0 0 2em;
    cursor: pointer;
}

.radio-container__selector {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.radio-container__mark::before,
.radio-container__mark::after {
    content: "";
    border: 1px solid #bdc3c7;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.radio-container__mark::after {
    background: #008B8B;
    border: .2em solid #2c3e50;
    transform: scale(0);
}

.radio-container__selector:checked ~ .radio-container__mark::before {
    background: #fff;
    border-color: #fff;
}

.radio-container__selector:checked + .radio-container__mark::after {
    transform: scale(1);
}

.radio-container__mark::before,
.radio-container__mark::after {
    transition: .5s transform ease;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.control__search {
    width: 25%;
    font-size: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: url('../img/iconfinder.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.control__search:focus {
    width: 50%;
}

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 33%;
    margin: 15px 0px 15px 0px;
}

.card__picture img {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 5px;
}

.card__info {
    margin-left: 5px;
    text-align: center;
    border: 1px solid #808080;
    border-radius: 10px;
    box-shadow: 0 0 30px 1p #808080;
    width: 90%;
}

.items {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}

.items__item-naming {
    text-transform: capitalize;
}

.filter {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.filter > * {
    width: 20%;
}

.filter-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btns > * {
    margin: 6px 5px 0px 0px;
    border-radius: 10px;
    background-color: #008B8B;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.loader {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.loader_hide {
    display: none;
}

.loader-animation {
    margin-top: 25px;
    position: relative;
    width: 64px;
    height: 64px;
}

.loader-animation__part {
    position: absolute;
    border: 4px solid #00FFFF;
    opacity: 1;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-animation__part:nth-child(2) {
    animation-delay: -0.5s;
}

.error {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #FF0000;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px #FF0000;
}

.top {
    text-transform: uppercase;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: #008B8B;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.top_active {
    display: block;
}

@media only screen and (max-width: 1070px ) {
    .filter {
        flex-direction: column;
    }

    .filter > * {
        width: 100%;
    }

    .card {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .info {
        margin-left: 0px;
    }

    .control__search {
        width: 80%;
    }

    .control__search:focus {
        width: 100%;
    }

    .card {
        width: 50%;
    }
}

@media only screen and (max-width: 630px) {
    .card {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    .card__info {
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 225px) {
    .radio-container {
        margin: 0;
        padding: 0 0 0 1.5em;
    }

    .radio-container__selector {
        position: static;
        display: none;
    }
}

@keyframes loading {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
