.container{
  width: 1120px;
  margin: 0 auto;
  @media(max-width: @lg){
    width: 900px;
  }
  @media(max-width: @md){
    width: 700px;
  }
  @media(max-width: @sm){
    width: 400px;
  }
  @media(max-width: @nn){
    width: 310px;
  }
}
