.users{
  &-list{
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.user{
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 240px;
  border: 1px dotted;
  padding: 25px 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  &__photo{
    width: 90px;
    padding-bottom: 15px;
    border-radius: 50%;
  }
  div{
    font-size: @small;
    padding-bottom: 10px;
    font-family: @helvetica;
  }
  &__name{
    word-wrap: break-word;
    font-family: @arial;
    width: 220px;
    text-align: center;
    text-transform: capitalize;
    color: #24c141;
    font-size: @medium !important;
    position: relative;
  }
  &__location{
    text-transform: capitalize;
    text-align: center;
    line-height: 20px;
  }
}
.female{
  background-image: url(../img/female.png);
  background-repeat: no-repeat;
  background-position: 94% 6%;
  background-size: 45px;
}
.male{
  background-image: url(../img/male.png);
  background-repeat: no-repeat;
  background-position: 94% 6%;
  background-size: 45px;
}
.loadedImg{
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}
