
.header{
	width: 80%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	background:#eceef4 url(../img/bg1.png) no-repeat center;
	background-size: 7%;
	&__go-back-btn{
		display: flex;
		align-items: center;
		background:#eceef4;
		color: #a5aaca;
		padding: 15px 30px 15px 60px;
		border: 1px solid #c9d0e1;
		border-radius: 4px;
		position: relative;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 12px;
		transition: .3s;
		&:focus{
			outline: none;
		}
		&:active{
			background: #ccc;
		}
		&:hover{
			cursor: pointer;
			box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
		}
		&::before{
			content: url(../img/arr-back.png);
			position: absolute;
			transform: scale(.6);
			left: 10%;
		}
	}
	&__sign-in-btn{
		@extend .header__go-back-btn ;
		&::before{
			content: url(../img/sign-in.png);
			transform: scale(.6);
		}
	}
}
