getY(n)
	N = 19
	n/N * 100%

.logo-
	&docs
		background-position 0 getY(0)
	&translate
		background-position 0 getY(1)
	&plus
		background-position 0 getY(2)
	&search
		background-position 0 getY(3)
	&yt
		background-position 0 getY(4)
	&play
		background-position 0 getY(5)
	&calendar
		background-position 0 getY(6)
	&drive
		background-position 0 getY(7)
	&calendar
		background-position 0 getY(8)
	&blogger
		background-position 0 getY(9)
	&photos
		background-position 0 getY(10)
	&maps
		background-position 0 getY(11)
	&account
		background-position 0 getY(12)
	&contacts
		background-position 0 getY(13)
	&hangouts
		background-position 0 getY(14)
	&keep
		background-position 0 getY(15)
	&jamboard
		background-position 0 getY(16)
	&classroom
		background-position 0 getY(17)
	&earth
		background-position 0 getY(18)
	&collections
		background-position 0 getY(19)
