@media screen and (max-width: 1000px) {
    .order__help {
        border-left: none;
    }

    .order__btns {
        order: 3;
        width: 300px;
    }
}

@media screen and (max-width: 673px) {
    .language div div:nth-child(2) {
        margin-right: 85px;
    }

    .language div div:nth-child(3) {
        margin-left: 47px;
    }
}