@import url("main.css");
@import url("order.css");
@import url("translate.css");
@import url("upload.css");
@import url("language.css");
@import url("tone.css");
@import url("urgent.css");
@import url("payment.css");
