.center {
    text-align: center;                                                             
}

#game-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    max-width: 820px;
    margin: auto;
}

.card {
    background-color: rgb(243, 255, 218);
    width: 200px;
    height: 170px;
    border: 1px solid rgb(216, 255, 139);
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-success {
    background-color: white;
    width: 200px;
    height: 170px;
    position: relative;
}
  
.card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.flip {
    transform: rotateY(180deg);
}
  
.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
}
  
.card-back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
}

.image {
    width: 200px;
    height: 170px;
}
