*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/2.jpg)no-repeat center;
    background-size: cover;
    overflow: hidden;
    h2{
        margin-bottom: 20px;
        font-size: 44px;
        font-family: 'Indie Flower', cursive;
        color: rgb(129, 157, 160);
        transition: 1s;
        &:hover{
            color: rgb(153, 142, 161);
        }
    }
}

.initial-container{
    width: 750px;
    height: 555px;
    min-width: 750px;
    min-height: 555px;
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    overflow: scroll;
}

.new-card{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 2px;
    background: rgba(111, 145, 145, 0.452);
    border: .5px solid rgb(146, 143, 143);
    border-radius: 4px; 
    transition: .8s;
    &:hover{
        background: rgba(67, 185, 185, 0.301);
    }
    img{
        visibility: hidden;
    }
    &_active{
        transform: rotateY(180deg);
        background-color:rgba(7, 7, 7, 0.425);
        img{
            visibility: visible;
        }
        &:hover{
            background-color:rgba(7, 7, 7, 0.425);
        }
    }
    &_remove{
        visibility: hidden;
        background:rgba(55, 151, 71, 0.300);
        transition: .8s;
        img{
            visibility: hidden;
            transform: rotateZ(360deg);
            transition: .8s;
            transform: scale(1.1);
        }
        &:hover{
            background:rgba(55, 151, 71, 0.300);
            transition: .8s;
        }
    }
    &_img{
        width: 70px;
        height: 70px;
        transform: rotateY(180deg);
    }
}