
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #006400;
  padding: 0;
  margin: 0;
}

.memory-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transition: transform .5s, opacity .5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: green;
  transition:  opacity 2s;
}

.card.flip{
  transform: rotateY(180deg);
}

.hidden{
  opacity: 0;
}


@media screen and (min-width: 480px) and (max-width: 650px) {
 .memory-game {
  width: 100%;
  height: 80%;
  }
}

@media screen and (max-width: 479px) {
 .memory-game {
  width: 100%;
  height: 50%;
  }
}