body {
	margin: 0px;
	padding: 0px;
	background: #f1eef6;
	font-size: 18px;
	text-align: center;
}

#game-container{
	margin: auto;
	width: 650px;
	display: flex;
	flex-wrap: wrap;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	
.flip-container .selected-card{
	transform: rotateY(180deg);
}

.flip-container{
	margin: 1px;
	width: 160px;
	height: 160px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	box-sizing: border-box;
	width: 160px;
	height: 160px;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border: 1px solid #000;
	border-radius: 3px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.disable {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}
