* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 50%;
  }
}

h1 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section {
  position: relative;
  margin-bottom: 100px;
}
