$white: #ffffff;
$text-color: #9fa3c4;
$black: #000000;
$whiteSmoke: #eceef4;
$whiteSmoke2: #f7f7f9;
$lightSteel: #abb4cd;
$turq: #5fcac6;
$lightSlate: #677aab;
$slate: #6e768f;
$darkCyan: #2c8f8b;
$blue: #76a7e1;
$footerBg: #444a62;
$footerText: #c7ccea;
$yellow: #edbe76;
$red: #e17777;