<main class="main-info">
  <div class="logo">
    <a href="index.html" class="logo__img"> </a>
  </div>

  <div class="search">
    <form
      name="x"
      id="search__form"
      class="search__form"
      action="/"
      method="GET"
    >
      <input class="search__text-input" type="text" /><input
        class="search__button-input search__button-input--duckduckgo-style"
        type="submit"
        value="S"
      />
    </form>
  </div>

  <p class="main-info__text">
    Поисковая система, которая не отслеживает вас, в отличие от сами знаете
    кого.
    <a class="link" href="https://duckduckgo.com/"
      >Помогите распространить DuckDuckGo!</a
    >
  </p>

  <div id="search-result" class="search-result"></div>

  <p class="copyright">
    &copy; With power of
    <a class="copyright__link" href="http://kottans.org/">kottans</a>
  </p>
</main>
