* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/gravity-background.jpg");
  background-size: cover;
  min-height: 100vh;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.container {
  display: flex;
  background-color: #fac3a8;
  width: 100%;
  min-height: 65vh;
  height: 65vh;
  border-radius: 3px;
  -webkit-box-shadow: 0px 6px 41px 2px rgba(243, 113, 50, 0.58);
  -moz-box-shadow: 0px 6px 41px 2px rgba(243, 113, 50, 0.58);
  box-shadow: 0px 6px 41px 2px rgba(243, 113, 50, 0.58);
}

.main-heading {
  margin: 0 auto 40px auto;
  text-align: center;
  color: #90a465;
  font-family: "Permanent Marker", cursive;
  font-size: 75px;
}

.characters-nav {
  width: 30%;
  padding: 20px;
}

.characters-nav .characters-nav__item {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 3px solid #90a465;
}

.characters-nav .characters-nav__item:hover {
  border-bottom: 3px solid rgba(243, 113, 50, 1);
}

.characters-nav .characters-nav__item.active {
  color: rgba(243, 113, 50, 1);
  border-bottom: 3px solid rgba(243, 113, 50, 1);
}

.characters-content {
  padding-left: 15px;
  width: 70%;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.characters-content .characters-content__heading {
  margin-top: 0;
}

.characters-content .characters-content__img {
  object-fit: cover;
  max-width: 100%;
}

.characters-content .characters-content__main-description {
  word-break: break-word;
}

.surname {
  pointer-events: none;
}

/*///////////////////////////MEDIA/////////////////////////////////*/
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .characters-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .characters-nav .characters-nav__item {
    margin-right: 4px;
    text-align: center;
    padding: 5px;
    width: 70px;
    font-size: 14px;
  }

  .surname {
    visibility: hidden;
  }

  .characters-content {
    width: 100%;
    height: 100%;
    overflow-y: visible;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .characters-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .characters-nav .characters-nav__item {
    margin-right: 4px;
    text-align: center;
    padding: 5px;
    width: 70px;
    font-size: 14px;
  }

  .surname {
    visibility: hidden;
  }

  .characters-content {
    width: 100%;
    height: 100%;
    overflow-y: visible;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    max-width: 700px;
  }
}

@media only screen and (min-width: 1270px) {
  .container {
    max-width: 1270px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1270px;
    height: 40vh;
    min-height: 40vh;
  }
}
