html {
    font-size: 10px;
}
body {
    background-color: rgba(211, 211, 211, 0.568);
    background-image: url(img/bg.png);
    background-repeat: repeat;
    font-size: 1.4rem;
}
.main {
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
}
.main-header {
    position: relative;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(175, 175, 175,.6);
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
    color: rgb(220, 20, 60);
    text-shadow: 0 0 .3rem rgba(220, 20, 60, 1);
}
.main-header span:hover {
    filter: drop-shadow(1.6rem 1.6rem 2rem rgba(255, 0, 0, 1)) invert(75%);
}
/* Navigation */
.navigation {
    width: 30%;
}
.navigation__list {
    list-style-type: none;
    padding: .5rem;
    margin: 0;
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(to right , rgba(169, 169, 169,.7),rgba(169, 169, 169,.9));
    border-radius: 2px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.8);
}
.navigation__item {
    min-height: 5rem;
    line-height: 5rem;
    margin: .5rem;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 1px 1px 3px white;
    border: .1rem solid white;
    border-radius: .2rem;
    cursor: pointer;
    transition: background-color .5s;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    flex: 1 1 auto;
}
.navigation__item:hover {
    background-color:rgba(220, 20, 60,.5);
}
.navigation__item--active {
    filter: drop-shadow(0 0 .4rem rgba(220, 20, 60, 1));
    background-color: rgba(220, 20, 60,.15);
}
/* Content */
.content {
    width: 70%;
    margin-left: 1rem;
}
.content__list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.content__item {
    background-color: rgba(0,0,0,.3);
    border-radius: .3rem;
    will-change: opacity;
    opacity: 0;
    transition: opacity .5s;
    box-shadow: .1rem .1rem .5rem .1rem rgba(0,0,0,.8);
    position: absolute;
    font-size: 2rem;
    display: flex;
    flex-flow: row wrap;
}
.content__item--visible {
    opacity: 1;
}
.content__title {
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    min-height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 3.2rem;
    text-shadow: .1rem .1rem .3rem rgba(255, 255, 255, 1);
    font-family: 'Poiret One', cursive;
    letter-spacing: -.2rem;
}
.content__image {
    margin: 1rem;
    width: 20rem;
    height: 14rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem 1rem  rgba(255,255,255,.8);
}
.content__info {
    width: calc(100% - 24.5rem);
    padding: 0;
    margin: 1rem;
    font-family: 'Neucha', cursive;
}
/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 175, 175,.6);
    line-height: 5rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 .3rem rgba(220, 20, 60, 1);
}
.footer__contacts {
    width: 3.8rem;
    height: 3.8rem;
    margin: auto .3rem;
    filter: drop-shadow(0 0 .4rem rgba(220, 20, 60, 1));
}
.footer__contacts:hover {
    filter: drop-shadow(1.6rem 1.6rem 2rem rgba(255, 0, 0, 1)) invert(75%);
}
@media screen and (max-width:850px) {
    .main {
        padding: 0.5rem;
        flex-flow: column nowrap;
    }
    .navigation,
    .content {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
    }
    .navigation__list {
        flex-flow: row nowrap;
        justify-content: center;
    }
    .navigation__item {
        flex: 1 1 auto;
    }
    .content__item {
        font-size: 1.8rem;
        display: flex;
        flex-flow: column;
    }
    .content__title {
        font-size: 2.4rem;
    }
    .content__image {
        width: 85%;
        height: auto;
        margin: auto;
    }
    .content__info {
        margin: 1rem auto;
        width: 85%;
        text-align: center;
    }
}