body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

#wrapper{
  padding-top: 100px;
}
#container{
  width: 638px;
  margin: 0px auto;
  padding: 10px;
  font-size: 0;
  border: 1px solid #CCCCCC;
  background: #FFFFE5;
}

.card-container{
  display: inline-block;
  margin: 2px;
  padding: 0;
  cursor: pointer;

  transform: rotateY(180deg);
}
.card-container, .card, .front, .back{
  width: 150px;
  height: 160px;
}
.card{
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: 145px 155px;
}
.front{
  z-index: 2;
  transform: rotateY(0deg);
  background: #E8ECFF;
}
.back{
  transform: rotateY(180deg);
}
.card img{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
}
.card-container.isSelected .card {
	transform: rotateY(180deg);
}
.isMatch{
    visibility: hidden;
}

.fake_img{
  width: 0;
  height: 0;
  border: none;
}
.disableDiv{
  pointer-events: none;
}