@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin scores {
  position: relative;
  background-color: #e7b083;
  min-width: 50px;
  height: 50px;
  padding: 0 3px;
  line-height: 70px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  color: #705e50;
}

@mixin scoresCount {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  color: #f8eacf;
}

.heading {
  @include flex();
  justify-content: space-between;
}

.title {
  font-size: 3em;
  margin: 0.3em 0;
  color: #705e50;
}

.restart-btn {
  background-color: #c38f64;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: 600;
  color: #f8eacf;
  cursor: pointer;
}

.scores-container {
  @include flex();
}

.score-container {
  @include scores();
  margin-right: 5px;

  &:after {
    content: "Score";
    @include scoresCount();
  }
}

.best-container {
  @include scores();

  &:after {
    content: "Best";
    @include scoresCount();
  }
}
