.page-list {
  justify-content: center;
}

.page-list button,
.current-page {
  padding: 8px 15px;
  margin: 5px;
}
.page-list button{
  border: 1px solid lightblue;
  background-color: white;
  border-radius:  15px;
}

.page-list button:hover,
.checked {
  background-color: lightblue;
  cursor: pointer;  
}

.page-list button:focus{
  outline:none;
}
