.nav-services-icon-account {
  background-image: url(../images/svg/account.svg);
}

.nav-services-icon-adwords {
  background-image: url(../images/svg/adwords.svg);
}

.nav-services-icon-business {
  background-image: url(../images/svg/business.svg);
}

.nav-services-icon-calendar {
  background-image: url(../images/svg/calendar.svg);
}

.nav-services-icon-docs {
  background-image: url(../images/svg/docs.svg);
}

.nav-services-icon-drive {
  background-image: url(../images/svg/drive.svg);
}

.nav-services-icon-gmail {
  background-image: url(../images/svg/gmail.svg);
}

.nav-services-icon-google-plus {
  background-image: url(../images/svg/google-plus.svg);
}

.nav-services-icon-news {
  background-image: url(../images/svg/news.svg);
}

.nav-services-icon-photos {
  background-image: url(../images/svg/photos.svg);
}

.nav-services-icon-search {
  background-image: url(../images/svg/search.svg);
}

.nav-services-icon-sheets {
  background-image: url(../images/svg/sheets.svg);
}

.nav-services-icon-slides {
  background-image: url(../images/svg/slides.svg);
}

.nav-services-icon-translate {
  background-image: url(../images/svg/translate.svg);
}

.nav-services-icon-youtube {
  background-image: url(../images/svg/youtube.svg);
}
