h1 {
    text-align: center;
}

#game {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
#game-area{
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 1px;
    border-radius: 5px;
}
.memory-card img {
    border-radius: 5px;
}
.hidden {
    opacity: 0;
    cursor: pointer;
    width: 120px;
}

.shown {
    opacity: 1;
    width: 120px;
}

.removed {
    cursor: none;
    width: 120px;
    height: 120px;
    padding: 0;
    border: 1px solid black;
    margin: 1px;
    opacity: 0;
    pointer-events: none;
}