.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-adwords {
  width: 64px;
  height: 64px;
  background-position: -5px -5px;
}

.sprite-business {
  width: 64px;
  height: 64px;
  background-position: -79px -5px;
}

.sprite-calendar {
  width: 64px;
  height: 64px;
  background-position: -153px -5px;
}

.sprite-docs {
  width: 64px;
  height: 64px;
  background-position: -5px -79px;
}

.sprite-drive {
  width: 64px;
  height: 64px;
  background-position: -79px -79px;
}

.sprite-gmail {
  width: 64px;
  height: 64px;
  background-position: -153px -79px;
}

.sprite-google {
  width: 64px;
  height: 64px;
  background-position: -5px -153px;
}

.sprite-google-plus {
  width: 64px;
  height: 64px;
  background-position: -79px -153px;
}

.sprite-news {
  width: 64px;
  height: 64px;
  background-position: -153px -153px;
}

.sprite-photos {
  width: 64px;
  height: 64px;
  background-position: -227px -5px;
}

.sprite-search {
  width: 64px;
  height: 64px;
  background-position: -227px -79px;
}

.sprite-sheets {
  width: 64px;
  height: 64px;
  background-position: -227px -153px;
}

.sprite-slides {
  width: 64px;
  height: 64px;
  background-position: -5px -227px;
}

.sprite-translate {
  width: 64px;
  height: 64px;
  background-position: -79px -227px;
}

.sprite-youtube {
  width: 64px;
  height: 64px;
  background-position: -153px -227px;
}