@import "components/mixin";
@import "components/variables";
@import "vendors/normalize";
@import "components/typography";
@import "components/button";
@import "components/form";
@import "components/table";
@import "components/card";
@import "components/form-list";
@import "components/helpers";

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
    box-shadow: 0 0 15px $accent-blue-color;
  }
}

body {
  font-family: $roboto;
  letter-spacing: 1px;
  background-color: $background-color;
  padding-bottom: 100px;
}

.container {
  margin: 0 5px;
  @include bp(medium) {
    margin: 0 15px;
  }
  @include bp(large) {
    max-width: 900px;
    margin: 0 auto;
  }
  @include bp(huge) {
    max-width: 1140px;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.additional-info {
  max-width: 480px;
  display: inline-block;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-top: 90px;
  @include bp(medium) {
    padding: 30px 30px 30px 70px;
  }
}

.additional-action {
  color: $text-light;
  font-size: 15px;
  margin-bottom: 50px;
  font-weight: 300;
}
