@import url(https://fonts.googleapis.com/css?family=Roboto);;
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.main {	
	display: flex;
	flex-wrap: wrap;	
	justify-content: center;	
}

.header {	
	display: flex;	
	justify-content: center;
	align-items: center;	
	text-align: center;
	background: pink;
	border-radius: 5px;
	width: 98%;	
}

.nav {
	background: pink;
	border-radius: 5px;	
	width: 25%;
	margin: 5px;
	padding: 5px;
}
.nav-list a {
	text-decoration: none;
}
.nav-list li {
	list-style: none;
	margin-bottom: 5px;
}

.content {	
	background: pink;
	border-radius: 5px;	
	width: 70%;
	margin: 5px;
	padding: 5px;	
	text-align: justify;
	justify-content: center;
}

.content img {	
	border-radius: 5px;
}
