/* General Elements style*/
@import 'range.css';
@import 'select.css';
@import 'button.css';
@import 'radio.css';

/* Order section elements */
.order-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-buttons .button:first-child {
  margin-bottom: 15px;
}

/* Translate section elements */
.translate-item:nth-child(n + 2) {
  margin-top: 1em;
}
.translate-item {
  width: 295px;
  height: 140px;
  min-width: min-content;
}
.translate-item-image {
  width: 64px;
  height: 64px;
}

/* Upload documents section elements */
input[type='file'] {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 6px;
  width: 8px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
input[type='file']:focus ~ .upload-button-border {
  border: 1px solid #76a7e1;
}
.upload-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  text-transform: none;
  cursor: pointer;
}
.upload-button-border {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.upload-icon {
  top: -4px;
}
.uploaded-table .trash-button-column {
  text-align: center;
}
.trash-button {
  width: 100%;
  background: url(../../img/trash.svg) no-repeat center;
  background-size: 17px 20px;
}
.trash-button:hover {
  background: url(../../img/trash.svg) no-repeat center;
  background-color: #dadde7;
  background-size: 21px 24px;
}
.uploaded-table .trash-button:active {
  background-color: #5fcac6;
}

/* Languages section elements */
.lang-to .select {
  margin-bottom: 20px;
}
.lang-to .select:nth-child(n + 2) {
  width: 80%;
}
.lang-trash-button {
  margin-left: 5%;
  width: 15%;
}

/* Tone section elements */
.tone-item:nth-of-type(1) {
  margin-top: 50px;
}
.tone-item:nth-child(n + 2) {
  margin-bottom: 2em;
}
.tone-item-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tone-item {
  width: 100%;
  height: 70px;
}
.tone-item-image {
  width: 32px;
  height: 32px;
  margin: 0 22px 0 0;
}

/* Payment section elements */
.payment-item {
  width: 108px;
  height: 70px;
  margin-right: 4vw;
}
.payment-item-image {
  width: 67px;
  height: 32px;
}
.field-block {
  position: relative;
}
.input-label {
  padding-left: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}
.input-field {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: transparent;
  background-color: transparent;
  color: #5a607a;
  letter-spacing: 1px;
}
.card-sticker,
.check-status {
  visibility: hidden;
  position: absolute;
  top: 35px;
  right: 10px;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.card-sticker {
  visibility: inherit;
  width: 55px;
  height: 30px;
  background: #d7d9e0;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: #fff;
}
.input-field:focus:invalid {
  border: 1px solid rgba(255, 0, 0, 0.5);
}
.input-field:focus:invalid ~ .check-status {
  visibility: visible;
  background: url(../img/invalid.svg) no-repeat;
}
.input-field:valid ~ .check-status {
  visibility: visible;
  background: url(../img/valid.svg) no-repeat;
}
.input-password {
  letter-spacing: 0.2em;
}
.bottom-order .button {
  width: 100%;
  margin-top: 15px;
}

.agreement-check {
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
}
