body {
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.left-menu {
  position: fixed;
  left: -170px;
  top: 10px;
  height: calc(100vh - 20px);
  transition: position .5s ease;
  width: 200px;
  background-color: aquamarine;
}

.left-menu:hover {
  left: 10px;
}