$fontSmall: 15px;
$colorBold: #6e768f;
$colorText: #a5abc5;
$placeholderText: #d7d9e0;
$colorFooter: #c6ccea;
$sectionCount: 8;

$desktop: 1370px;
$tablet: 770px;
$mobile: 480px;


// @media (max-width: $desktop) {
//    display: none;
// }

@mixin border($borderColor, $textColor) {
  border-radius: 5px;
  border: 1px solid $borderColor;
  color: $textColor;
}
@mixin container() {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-family: arial, sans-serif;
  font-size: $fontSmall;
}
body{
  background: #eceef4;
  overflow-x: hidden;
}

h2{
  font-weight: 300;
  font-size: 25px;
  position: relative;
  padding-bottom: 50px;
  @media (max-width: $desktop) {
    font-size: 20px;
    margin-left: 50px;
  }
  @media (max-width: $tablet) {
    margin-left: 80px;
  }
  &:after{
    content: '1';
    position: absolute;
    top: -15px;
    left: -80px;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    border-radius: 55px;
    border: 1px solid #6e768f;
  }
}
@for $i from 1 to $sectionCount {
  section:nth-child(#{$i}) h2:after{
    content: '#{$i - 2}';
  }
}
h3, h4, h5, h6{
  text-transform: uppercase;
  font-weight: bold;
  color: $colorBold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=checkbox]:not(.terms):focus + label,
input[type=radio]:focus + label {
    filter: grayscale(1);
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      border: 8px solid #76a7e1;
      border-radius: 8px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
::-webkit-input-placeholder{
  color:$placeholderText;
}
::-moz-placeholder{
  color:$placeholderText;
}
:-moz-placeholder{
  color:$placeholderText;
}
:-ms-input-placeholder{
  color:$placeholderText;
}

fieldset{
  border: none;
  padding: 0;
  @media (max-width: $tablet) {
    width: 100%;
  }
}

.visually-hidden{
  display: none;
}
.visually-radio{
  position: absolute;
  z-index: -1;
}

.select-title{
  font-size: 25px;
  padding: 0 10px 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 0 80px;
  position: relative;
  display: inline-block;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #dbe0eb;
  }
}

.select-wrapper{
  position: relative;
  pointer-events: none;
  display: inline-block;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    width: 1px;
    background: rgba(110, 118, 143, 0.6);
  }
  &:before{
    content: '\f0d7';
    position: absolute;
    color: rgba(110, 118, 143, 0.6);
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    z-index: 1;
    font: normal normal normal 20px/1 FontAwesome;
  }
}
select.sm-button{
  min-width: 260px;
  padding: 0 60px 0 0;
  position: relative;
  appearance:none;
  text-transform: none;
  pointer-events: auto;
  @media (max-width: $mobile) {
    min-width: 180px;
  }
}
select::-ms-expand {
    display: none;
}
a{
  color: inherit;
}
input:checked + label:not(.agree){
  position: relative;
  opacity: 1;
  &:before{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    border: 8px solid #76a7e1;
    border-radius: 8px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
  }
  &:after{
    content: '\f00c';
    position: absolute;
    background: #76a7e1;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    text-align: center;
    font: normal normal normal 25px/40px FontAwesome;
  }
}
p{
  color: $colorText;
}
h1{
  @media (max-width: $tablet) {
    order: 1;
    margin: 20px auto;
  }
}
.header{
  @include container();
  padding: 80px 0;
  @media (max-width: $desktop) {
    padding: 0;
  }
}
.header button{
  background: none;
  @media (max-width: $tablet) {
    order: 2;
    width: 85%;
    min-width: 250px;
    margin: 0 auto 20px;
  }
}
.sm-button{
  display: inline-block;
  min-width: 220px;
  line-height: 70px;
  height: 70px;
  text-align: center;
  text-align-last: center;
  font-weight: bold;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  background: #f7f7fa;
  opacity: 0.6;
  transition: 0.2s;
  padding: 0 30px;
  font-size: $fontSmall;
  @include border(#6e768f, #6e768f);
  &:active{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  }
  &:focus{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
  }
  &:hover{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
  }
  .fa{
    padding-right: 15px;
    font-size: 17px;
  }
  &.add-button{
    min-width: 160px;
    @media (max-width: $desktop) {
      display: block;
      margin: 20px 0 0 70px;
    }
  }
}
.sm-input{
  display: inline-block;
  width: 400px;
  line-height: 60px;
  height: 60px;
  background: none;
  box-shadow: none;
  transition: 0.2s;
  padding: 0 20px;
  font-size: $fontSmall;
  @include border(#d7d9e0, #7489ab);
  margin: 0 40px 50px 0;
  position: relative;
  @media (max-width: $tablet) {
    margin: 0 0 20px 0;
    width: 100%;
  }
  opacity: 0.5;
  &:active{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  }
  &:focus{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
  }
  &:hover{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
  }
  .fa{
    padding-right: 15px;
    font-size: 17px;
  }
}
.input-result{
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 45px;
  right: 55px;
  @media (max-width: $tablet) {
    right: 20px;
  }
}
.validate{
  position: relative;
}
.validate input:valid + .input-result{
  &:after{
    content: '\f00c';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #76a7e1;
    color: #fff;
    border-radius: 30px;
    font: normal normal normal 20px/30px FontAwesome;
  }
}
.validate input:invalid + .input-result{
  &:after{
    content: '\f00d';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #e17776;
    color: #fff;
    border-radius: 30px;
    font: normal normal normal 20px/30px FontAwesome;
  }
}
.full-width{
  margin-right: 50%;
  @media (max-width: $mobile) {
    margin-right: 0;
  }
}
.main{
  @include container();
  @include border(#c9d0e1, #6e768f);
  background: #ffffff;
  margin-bottom: 170px;
  @media (max-width: $desktop) {
    margin-bottom: 50px;
  }
  @media (max-width: $mobile) {
    width: 100%;
    border-radius: 0;
    border: none;
  }
}
.main-head{
  display: flex;
  border-bottom: 1px solid #dbe0eb;
  flex-wrap: wrap;
}
.order{
  padding: 35px 50px 35px 100px;
  width: calc(100% / 3 * 2);
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #dbe0eb;
  @media (max-width: $desktop) {
    width: 100%;
    padding: 50px 50px 0;
    border: none;
  }
  @media (max-width: $mobile) {
    padding: 20px 20px 0;
  }
}
.order-in{
  width: calc(100% - 220px);
  @media (max-width: $desktop) {
    width: 100%;
    margin-bottom: 20px;
  }
}
.order-button{
  @media (max-width: $desktop) {
    display: flex;
    justify-content: space-around;
  }
  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }
}
.order-button > *{
  display: block;
}
.order-title{
  width: 100%;
  margin: 0 0 35px;
  position: relative;
  &:after{
    content: '\f2db';
    position: absolute;
    left: -40px;
    top: -5px;
    font: normal normal normal 25px/1 FontAwesome;
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
.order-list{
  display: flex;
  flex-wrap: wrap;
}
.order-item{
  width: 25%;
  list-style: none;
  @media (max-width: $tablet) {
    width: 50%;
    margin-bottom: 25px;
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
}
.order-item-title{
  margin-bottom: 20px;
}
.payment-submit-agree{
  display: inline-block;
  @media (max-width: $desktop) {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}
.order-button-order{
  border: 1px solid #58b6b3;
  margin-bottom: 15px;
  background: #5fcac6;
  color: #fff;
  @media (max-width: $desktop) {
    margin-right: 30px;
  }
  @media (max-width: $tablet) {
    margin: 0 auto 20px;
  }
}
.help-description{
  line-height: 1.2;
  margin-bottom: 25px;
}
.help{
  padding: 35px 50px 35px 100px;
  width: calc(100% / 3);
  .order-title:after{
    content: '\f1cd';
  }
  @media (max-width: $desktop) {
    width: 100%;
    padding: 50px;
  }
  @media (max-width: $mobile) {
    padding: 50px 20px;
  }
}
.help-in{
  display: flex;
  flex-wrap: wrap;
  & > a{
    width: 50%;
    color: $colorBold;
    text-decoration: none;
    @media (max-width: $mobile) {
      width: 100%;
      margin-top: 20
    }
  }
}
.form{
  display: flex;
  flex-wrap: wrap;
  section{
    width: 100%;
    &.tone,
    &.job{
      width: 50%;
      @media (max-width: $desktop) {
         width: 100%;
      }
    }
  }
  section:not(:first-child){
    padding: 0 10% 10%;
    @media (max-width: $desktop) {
       padding: 0 50px 50px;
    }
    @media (max-width: $tablet) {
       padding: 0 20px 50px;
    }
  }
  section:nth-child(6){
    padding: 0 10% 10% 0;
    @media (max-width: $desktop) {
       padding: 0 50px 50px;
    }
    @media (max-width: $tablet) {
       padding: 0 20px 50px;
    }
  }
}
.form section.select{
  padding: 10%;
  text-align: center;
}
.select-type{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  img{
    width: 30%;
    display: block;
    margin: 0 auto 20px;
  }
  label{
    text-align: center;
    background: #f7f7fa;
    width: calc(100% / 3 - 20px);
    padding: 40px 10px;
    cursor: pointer;
    @include border(#d7d9e0, #6e768f);
    opacity: 0.5;
    transition: 0.2s;
    &:active{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    }
    &:focus{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
    }
    &:hover{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
    }
    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
.title,
.title + .subtitle{
  display: inline-block;
}
.title + .subtitle{
  @media (max-width: $tablet) {
    display: none;
  }
}
.document{
  .file{
    width: 0px;
  }
  .file:focus + label{
    border: 1px solid #76a7e1;
    background: #fff;
    opacity: 1;
  }
  .sm-button{
    margin-bottom: 50px;
  }
  .document-in{
    padding: 20px 60px;
    border: 1px solid #eef0f4;
    border-radius: 5px;
    @media (max-width: $tablet) {
      padding: 0 20px;
    }
    @media (max-width: $mobile) {
      width: 100%;
      border: none;
      padding: 0;
    }
    div{
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0;
      p{
        line-height: 25px;
      }
      & > *{
        @media (max-width: $tablet) {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 5px;
        }
      }
      & > *:nth-child(1){
        width: 40%;
        .fa{
          padding-right: 25px;
        }
      }
      & > *:nth-child(2){
        width: 20%;
      }
      & > *:nth-child(3){
        width: 30%;
      }
      & > *:nth-child(4){
        width: 10%;
        text-align: center;
      }
      .fa{
        font-size: 25px;
        color: #a5abc5;
      }
      .trash{
        opacity: 0.5;
        border: none;
        background: none;
        cursor: pointer;
        &:active{
          opacity: 1;
          box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
        }
        &:focus{
          opacity: 1;
          box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
        }
        &:hover{
          opacity: 1;
          box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
        }
      }
    }
    .document-in-head p{
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.select-trash{
  background: none;
  border: none;
  color: $colorBold;
  opacity: 0.5;
  &:active{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
  }
  &:focus{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
  }
  &:hover{
    opacity: 1;
    box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
  }
}
.language fieldset{
  font-size: 0;
  label{
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70px;
    width: 70px;
    text-align: right;
    display: inline-block;
    padding-right: 25px;
    @media (max-width: $mobile) {
      padding-right: 10px;
    }
  }
  .languageFrom{
    margin-bottom: 50px;
    @media (max-width: $desktop) {
      margin-bottom: 20px;
    }
  }
  .languageTo1{
    margin-right: 30px;
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }
  .languageTo2{
    @media (max-width: $desktop) {
      margin: 20px 0 0 70px;
    }
  }
  .fa-trash{
    width: 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    @media (max-width: $mobile) {
      margin-right: 0px;
    }
  }
}
.tone{
  h2{
    display: block;
  }
  label{
    width: 310px;
    display: block;
    margin-bottom: 35px;
    &:last-child{
      margin-bottom: 0;
    }
    @media (max-width: $mobile) {
      width: 90%;
      margin: 0 auto 20px;
      font-size: 12px;
    }
  }
}

.range{
  position: relative;
  appearance: none;
  width: 90%;
  margin: 0 auto;
  display: block;
  &:after,
  &:before {
      content: '';
      display: block;
      position: absolute;
      background-color: #d6d8e2;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
  }
  &:before {
      left: 0;
  }
  &:after {
      right: 0;
  }
  &::-webkit-slider-thumb {
      position: relative;
      appearance: none;
      height: 20px;
      width: 20px;
      background-color: #edbe76;
      box-sizing: border-box;
      z-index: 2;
      border-radius: 100%;
      top: -50%;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #eff0f5;
  }
  &:focus{
    outline: 0;
    box-shadow: 0 0 10px 0 #edbe76
  }
}
.range-label{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  label{
    font-weight: bold;
    text-transform: uppercase;
    color: #a6acc5;
    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }
}
.range-info{
  margin-top: 80px;
  @include border(#e6e8ee, #6e768f);
  padding: 40px 40px 40px 90px;
  @media (max-width: $mobile) {
    margin-top: 20px;
    padding: 20px 20px 20px 60px;
  }
}
.range-info-title{
  position: relative;
  margin-bottom: 35px;
  &:after{
    content: '\f05a';
    position: absolute;
    color: #727895;
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
    font: normal normal normal 25px/1 FontAwesome;
  }
}
.range-info-description{
  line-height: 1.5;
  a{
    text-transform: uppercase;
    font-weight: bold;
    color: #edbe76;
    text-decoration: none;
  }
}

.footer{
  background: #444a62;
  padding: 130px 0;
  @media (max-width: $desktop) {
    padding: 50px 0 20px;
  }
}
.footer-in{
  @include container();
  display: flex;
  align-items: start;
}
.footer-item{
  width: 25%;
  padding: 0 5% 0 80px;
  @media (max-width: $desktop) {
     width: 50%;
     margin-bottom: 30px;
  }
  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 50px 0;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .footer-item-title{
    margin-bottom: 25px;
    color: $colorFooter;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      color: $colorFooter;
      top: 50%;
      transform: translateY(-50%);
      left: -60px;
      font: normal normal normal 30px/1 FontAwesome;
    }
  }
  .footer-item-description{
    color: $colorFooter;
    text-decoration: none;
  }
}
.description{
  .footer-item-title:after{
    content: '\f08a';
  }
  .footer-item-description{
    font-style: italic;
    line-height: 1.3;
  }
}
.contact{
  .footer-item-title:after{
    content: '\f14e';
  }
  .footer-item-description{
    margin-bottom: 15px;
  }
}
.social{
  .footer-item-title:after{
    content: '\f1e0';
  }
  .footer-item-description{
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    .fa{
      color: #444a62;
      width: 20px;
      line-height: 20px;
      margin-right: 25px;
      border-radius: 100%;
      background: $colorFooter;
      font-size: 13px;
      text-align: center;
    }
    &:last-child{
      margin: 0;
    }
  }
}
.payment{
  label,
  legend{
    color: $colorText;
    margin: 0 0 15px 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }
  fieldset{
    display: inline-block;
  }
}
.payment-description{
  margin-bottom: 70px;
  @media (max-width: $desktop) {
    margin-bottom: 40px;
  }
  a{
    color: $colorText;
    transition: 0.2s;
    &:hover{
      color: $colorBold;
    }
  }
}
.payment-way{
  width: 100%;
}
.payment-type{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  @media (max-width: $desktop) {
    margin-bottom: 30px;
  }
  @media (max-width: $tablet) {
    justify-content: space-between;
  }
  label{
    width: 25%;
    cursor: pointer;
    height: 130px;
    margin-right: 45px;
    background: #f7f7fa;
    @include border(#d7d9e0, #7489ab);
    position: relative;
    opacity: 0.5;
    &:active{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
    }
    &:focus{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(0,204,204,0.5);
    }
    &:hover{
      opacity: 1;
      box-shadow: 0px 0px 5px 5px rgba(118,166,225,0.5);
    }
    @media (max-width: $desktop) {
      margin-left: 0px;
      margin-right: 30px;
    }
    @media (max-width: $tablet) {
      width: calc(100% / 3 - 30px);
      margin: 0;
    }
    @media (max-width: $mobile) {
      width: 90%;
      margin: 10px auto 20px;
    }
  }
  img{
    max-height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $desktop) {
      max-height: 20px;
    }
  }
}
.payment-card{
  position: relative;
  input{
    width: 500px;
    padding: 0 100px 0 20px;
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
  &:after{
    content: 'visa';
    position: absolute;
    top: 43px;
    right: 55px;
    padding: 10px 15px;
    background: #d7d9e0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    @media (max-width: $tablet) {
      right: 20px;
    }
  }
}
.payment-expiry{
  input{
    width: 230px;
    text-align: center;
    text-transform: uppercase;
    color: $placeholderText;
  }
}
.payment-code{
  input{
    width: 140px;
  }
}
.payment-submit{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: $desktop) {
    justify-content: flex-start;
  }
  @media (max-width: $tablet) {
    padding: 30px;
    text-align: center;
  }
  @media (max-width: $mobile) {
    padding: 0;
  }
  button{
    margin-left: 40px;
    margin-bottom: 0;
    @media (max-width: $desktop) {
      margin: 0 40px 0 0;
    }
    @media (max-width: $tablet) {
      margin: 20px auto 0;
    }
  }
  label{
    margin: 0 5px;
  }
}
