/* fonts init */

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik/Rubik-Regular.woff') format('woff'), url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik/Rubik-Light.woff2') format('woff2'), url('../fonts/Rubik/Rubik-Light.woff') format('woff'), url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    height: 100vh;
}

section {
    font-size: 1rem;
}

/* my styles */

.start-game-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    padding: 1em;
}

.closed {
    display: none;
}

.start-game-username {
    margin-bottom: 1em;
}

.copyright-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.players-row {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto 3em;
}

.player-item {
    cursor: pointer;
    position: relative;
    transition: transform .5s;
    border: 1px solid #949494;
    border-radius: 4px;
}

.player-item:hover,
.player-item.active
{
    transform: scale(1.05);
}

.player-item:before {
    content: "Chosen!";
    font-size: 1.125em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(102, 255, 51,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.player-item.active:before {
    opacity: 1;
}

.start-game-button {
    border-radius: 4px;
    background-color: rgb(102, 255, 51);
    color: #fff;
    border: 1px solid #949494;
    font-size: 2.5em;
    width: 5em;
    text-transform: uppercase;
}

.start-game-button:disabled {
    opacity: .5;
}

.start-game-button:not(:disabled) {
    cursor: pointer;
    animation-name: pulse_animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1.02); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.08); }
    80% { transform: scale(1.02); }
    100% { transform: scale(1); }
}

.sound-switcher {
    background-image: url(../images/speaker.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.sound-switcher.off {
    background-image: url(../images/speaker-off.svg);
}

.game-session {
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #949494;
    border-radius: 4px;
}