html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.nav-list {
  display: flex;
  list-style: none;
  position: fixed;
  top: 10px;
  right: 10px; }

.nav-list-item {
  margin: 5px; }

#open-modal {
  display: none; }

.modal-container {
  position: fixed;
  top: 60px;
  right: 10px;
  display: none;
  overflow: auto;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 3px 2px rgba(153, 134, 153, 0.25);
  max-width: 320px;
  max-height: 456px; }

#open-modal:checked ~ .modal-container {
  display: block; }

.modal {
  display: flex;
  flex-wrap: wrap;
  padding: 28px 18px; }

#modal-second {
  display: none; }

#open-modal-second:checked ~ #modal-second {
  display: block;
  flex-wrap: wrap;
  padding-top: 0; }

#open-modal-second:checked ~ #open-modal-second-label {
  display: none; }

#open-modal-second {
  display: none; }

.icon {
  max-width: 84px;
  max-height: 84px;
  padding: 14px; }
  .icon:hover {
    border: 0.5px lightgray solid; }
  .icon:focus {
    border: 0.5px blue solid; }

#open-modal-second-label {
  padding-top: 10px;
  background: lightgray;
  text-align: center;
  min-height: 40px;
  display: block; }

.menu-icon {
  min-height: 20px;
  min-width: 20px; }
