*, body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  color: $gray;
}

a {
  display: inline-block;
  cursor: pointer;
}

.container {
  max-width: 925px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 85%;
  }

  @media (max-width: 1024px) {
    max-width: 80%;
  }

  @media (max-width: 768px) {
    max-width: 90%;
  }

  @media (max-width: 576px) {
    max-width: 95%;
  }

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title-h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: $darkgray;
}

.title-h3 {
  font-size: 24px;
  letter-spacing: 1.2px;
  color: $darkgray;
  position: relative;

  @media (max-width: 768px) {
    text-align: center;
  }

}

.title-number {
  position: absolute;
  border: 1px solid $darkgray;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -11px;
  left: -70px;
  font-size: 20px;
  font-weight: 700;
  color: $darkgray;

  @media (max-width: 960px) {
    width: 35px;
    height: 35px;
    top: -7px;
    left: -48px;
    font-size: 18px;
  }

  @media (max-width: 768px) {
      width: 38px;
      height: 38px;
      top: -55px;
      left: 50%;
      margin-left: -19px;
      font-size: 18px;
  }
}

.text-yellow {
  color: $yellow;
  text-transform: uppercase;
}
