$black: #000;
$white: #fff;
$lightgray: #eceef4;
$almostgray: #F7F7FA;
$gray: #b7c0d5;
$middlegray: #6e768f;
$darkgray: #788096;
$green: #5fcac6;
$lightblue: #76a7e1;
$blue: #444A62;
$darkblue: #383D50;
$yellow: #edbe76;
$lightcolor: #b9ccea;

