html {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: sans-serif;
  color: var(--lightgray);
}

*, *:after, *:before {
  box-sizing: inherit;
}

.cf:after {
  content: '';
  display: table;
  clear: both;
}

main {
  padding: 100px 0;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;

  @media only screen and (max-width: $tablet) {
    padding: 50px 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 5px;
  }
}
