@media only screen and (max-width: 768px) {

  .form-container {
    max-width: 100vw;
  }
  .main-form {
    padding: 0;
    box-sizing: border-box;
  }
  .form-header{
    flex-direction: column;
  }
  .order-info {
    flex: 0 0 100%;
  }
  .order-nav{
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
  }
  .order-list{
    font-size: 14px;
  }
  .buttons {
    flex-direction: column;
  }
  .help-center {
    flex: 0 0 35%;
    padding: 8px 16px 16px 44px;
    box-sizing: border-box;
    text-align: center;
  }
  .help-title::before {
    left: 50px;
  }
  .main-title{
    margin: 0;
  }
  .first-area .container{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .type-label{
    margin: 16px 0;
  }
  .type-button{
    padding: 45px 70px;
    min-width: 140px;
  }
  .type-img{
    width: 64px;
  }
  .area-title{
    line-height: 36px;
    text-align: center;
    margin: 8px 2px;
  }
  .file-button {
    display: block;
    max-width: 33%;
    margin: 0 auto 24px;
    text-align: center;
  }
  .file-list{
    padding: 10px;
    font-size: 12px;
  }
  .second-area .container{
    padding: 8px;
  }
  .list-header{
    font-size: 11px;
    align-items: baseline;
  }
  .file-name{
    max-width: 45%;
    margin-right: 4px;
    overflow: hidden;
  }
  .file-size {
    max-width: 20%;
    -ms-text-align-last: right;
    text-align: center;
  }
  .file-words{
    max-width: 20%;
    text-align: center;
  }
  .file-remove{
    max-width: 10%;
  };
  .file-row, .list-header{
    justify-content: space-between;
    padding: 8px 0 4px;
  }
  .del {
    width: 16px;
    height: 16px;
  }
  .second-area {
    margin: 24px 0;
  }
  .from-lang, .to-lang {
    margin: 0 0 8px;
  }
  .to-lang .list-header {
    padding-left: 0
  }
  .sel-but{
    margin: 8px 0;
    display: inline-block;
  }
  .second-lang{
    margin-left: 41px;
  }
  .third-area .container{
    padding: 32px 16px;
  }
  .add{
    margin-left: 41px;
  }
  .third-area .del{
    margin: 0;
    display: inline-block;
  }
  .to-lang .list-header {
    padding-left: 20px;
  }
  .fourth-fifth{
    flex-direction: column;
  }
  .fourth-area .container {
    padding: 8px 64px;
  }
  .fifth-area {
    max-width: 100%;
  }
  .sixth-area .container{
    padding: 16px;
  }
  .timeline-info{
    margin: 32px 16px;
  }
  .payment-method .container{
    flex-direction: column;
  }
  .payment-method .type-img{
    width: 100px;
  }
  .card-data .container{
    flex-direction: column;
  }
  .accept .container {
    padding: 16px;
    flex-direction: column;
  }
  .accept .buttons{
    flex-direction: column;
  }
  .order{
    margin: 16px 24px;
  }
}

@media (min-width: 768px) {

  .form-container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .form-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .form-container {
    max-width: 1140px;
  }
}
