p {
  color: green;
  font-size: 30px;
  text-align: center;
}

main {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.container-thingy {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
  align-items: center;
}

.flip-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  perspective: 1000px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  border: 3px solid grey;
  border-radius: 10px;
  width: 30%;
  height: 30%;
}
.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  backface-visibility: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
img {
  object-fit: contain;
  height: 80%;
  width: 80%;
}
.hidden {
  visibility: hidden;
}
@media screen and (min-width: 695px) {
  .container-thingy {
    width: 80%;
    height: 80%;
  }

  .flip-container {
    width: 80%;
  }

  .flipper {
    width: 30%;
    height: 30%;
  }
}

@media screen and (min-width: 750px) {
}

@media screen and (min-width: 1250px) {
  .container-thingy {
    width: 80%;
    height: 80%;
  }

  .flip-container {
    width: 60%;
  }

  .flipper {
    width: 24%;
    height: 24%;
  }
}
