.b-menu__item_type_bell {
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background: $grey;
    transition: background 200ms ease-in-out;

    &:after {
        display: block;
        content: '';
        background: url(../img/v1_051523630.png) -69px 865px;
        height: 20px;
        width: 20px;
        pointer-events: none;
        margin-top: -20px;
    }

    &:hover {
        background: black;
    }
}