html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {

    font: inherit;

    font-size: 100%;

    margin: 0;

    padding: 0;

    border: 0;
}

a {

    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {

    display: block;
}

body {

    line-height: 1;
}

ol,
ul {

    list-style: none;
}

blockquote,
q {

    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {

    content: '';

    content: none;
}

table {

    border-spacing: 0;

    border-collapse: collapse;
}

/*-_____________________________________________*/



#container{
    height: 300px;
    width: 1000px;
    display: flex;
    margin: 100px auto;
}
#menu{
    height: 100%;
    width: 400px;
}
ul{
    position: relative;
}
li {
    height: 48px;
    border: 1px solid gray;
    list-style-type: none;
    background: #E6E6E6;
    color: darkred;
    position: relative;
    font-family: Helvetica;
    font-size: 18px;
    line-height: 48px;
    padding-left: 15px;
    cursor: pointer;
}

.checked{
    background: #BDBDBD;

}
.checked:after {
    content: '\003e';
    position: absolute;
    right: 20px;
}

#content{
    height: 298px;
    width: 600px;
    border: 1px solid black;
}

#content h2 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 24px;
}

#content p{
    font-family: Helvetica;
    font-size: 14px;
    width: 400px;
    float: left;
    padding: 1px 20px 0 20px ;

}
#content img {
    display: block;
    width: 150px;

}