html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 20px;
    background-image: linear-gradient(#03D8E3,#58FAAF)
  }

 .header_name{
      color:#FFFFFF;
      padding: 20px;
      font-size:28px;
      text-align:center;
    }

  .side_menu {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .side_menu_list {
    flex-grow:1;
    flex-basis: 20%;
    padding:0 20px;
    
  }
 
  .side_menu_item {
    box-sizing: border-box;
    display: block;
    text-align: center;
    line-height: 24px;
    padding: 24px;
    font-weight:bold;
    color: #7DF1E8;
    text-transform: uppercase;
    background-color:#099389;
    border-bottom: #3AAAA1 1px solid;
  }
  
  .description{
    flex-grow: 2;
    flex-basis: 80%;
    padding: 20px;
    font-size: 20px;
    color:#006363;
  }

  .side_menu_item:hover {
    background-color:#3AAAA1; 
  }

  .active{
    background-color:#51D8CE;
    color:#FFF;
  } 


  @media screen and (min-width:400px) and (max-width:500px){
    
    .header_name{
      padding: 10px;
      font-size:18px;
    }

    .side_menu_item {
      padding: 10px;
      font-size:16px;
     
    }
  
    .description{
      font-size:16px;
      padding:20px 10px;
    }
  }

  @media screen and (max-width:400px){
    .header_name{
      padding: 5px;
      font-size:16px;
    }

    .side_menu_list{
      padding: 0 10px;
      
    }
    .side_menu_item {
      padding: 5px;
      font-size:12px;
     
    }
  
    .description{
      font-size:14px;
      padding:20px 10px;
    }
  }