$font-color: #6e768f;
$font-color-light: #bcc3d9;
$border-button-color: #ebebef;
$border-color: #ccc;
$font-size: 1.25em;
$bg-color: #eceef4;
$button-bg: #f7f7fa;
$accent: #5fcac6;
$range: #edbe76;
$selected: #76a7e1;


$focused: #a6c8ff;
$duration: 0.25s;
$outline: #8fb9fe;
