@import 'variables';
@import 'mixins';

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1366px;
}

.order__wrapper {
  margin: 0 auto;
  width: calc(100% - 200px);
  padding: 0 100px;
  @include tablet {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}

.order {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  width: calc(100% - 4px);
  border: 2px solid $border-color;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0;
  margin: 50px auto;
  color: $font-color;

  & h3 {
    font-size: 2em;
    color: $font-color;
    font-weight: normal;
    position: relative;
    margin-bottom: 60px;

    &:before {
      position: absolute;
      width: 40px;
      height: 40px;
      content: " ";
      text-align: center;
      font-weight: bold;
      font-size: 0.7em;
      line-height: 40px;
      top: -4px;
      right: calc(100% + 20px);
      border: 1px solid $font-color;
      border-radius: 50%;
    }
  }


  &__languages {
    & h3 {
      &:before {
        content: "2";
      }
    }
  }

  .wrapper__urgency_tone {
    display: flex;
    padding-top: 60px;
    flex-wrap: wrap;
  }
}

.orange {
  color: $range;
  text-transform: uppercase;
  font-weight: bold;
}

.checkbox-label {
  cursor: pointer;
  padding-left: 50px;
  display: block;
  position: relative;
}

.file-label {
  cursor: pointer;
  border: 2px solid $border-color;
  border-radius: 5px;
  padding: 16px 25px 16px 80px;
  position: relative;
  background-color: $bg-color;

  &:hover {
    border-color: $selected;
  }

  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 1px;
    left: 30px;
    background-image: url(../assets/img/upload.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &-wrapper {
    line-height: 1.4;
  }
}

.input:focus + .file-label {
  border-color: $selected;
}

.select__item {
  width: 100%;
  height: 100%;
  padding: 0 35px;
  @include tablet {
    padding: 0 5px;
  }
  font-size: 1.3em;
  cursor: pointer;
  border: 2px solid $border-button-color;
  background: transparent;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $font-color;

  &:hover {
    border-color: $selected;
    will-change: border-color;
    transition: border-color .3s ease-out;
  }
}

.select {
  display: flex;
  align-items: center;
  @include tablet {
    flex-direction: column;
  }

  & i {
    font-size: 1.5em;
    cursor: pointer;
  }

  & .submit.gray {
    max-width: 150px;
    margin-top: 0;
    margin-left: 25px;
    color: $font-color;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  & span {
    margin-right: 10px;
    width: 50px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }

  .select__wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: $button-bg;
    margin-right: 15px;
    z-index: 0;
    @include tablet {
      margin: 10px 0;
    }

    &::before {
      content: '';
      display: block;
      background-color: $border-button-color;
      width: 2px;
      height: 60px;
      position: absolute;
      top: 0;
      right: 60px;
      z-index: -1;
    }

    &:hover {
      border-color: $selected;
      will-change: border-color;
      transition: border-color .3s ease-out;
    }

    &::after {
      display: block;
      content: "\f0d7";
      font-family: FontAwesome, sans-serif;
      background-repeat: no-repeat;
      background-size: 30px;
      font-size: 2em;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 12px;
      right: -21px;
      z-index: -1;
    }

    &:hover::before {
      background-color: $selected;
      will-change: background-color;
      transition: background-color .3s ease-out;
    }

    &:hover::after {
      @include transition;
      color: $selected;
    }
  }
}

.visually__hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.label {
  margin: 10px;
  display: block;
  border: 2px solid #ebecef;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;

  &:focus {
    & .label__image-wrapper {
      border-color: $selected;
    }
  }

  &:hover {
    border-color: $bg-color;
    transition: all .2s ease-in;

    & .label__image-wrapper {
      border-color: $selected;
    }
  }

  &--size-second {
    width: 250px;
    height: 500px;
  }

  &--size-browsers {
    width: 300px;
    height: 200px;
  }

  &--size-tone {
    width: 300px;
    height: 80px;
  }

  &--size-payment {
    width: 280px;
    height: 120px;
  }

  &__image {
    margin: 0 auto;
    display: block;

    &-wrapper {
      position: absolute;
      top: -3px;
      left: -3px;
      background-color: $button-bg;
      text-align: center;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 2px solid $border-button-color;
      border-radius: 9px;
      box-sizing: border-box;

      & img {
        width: 100px;
      }
    }
  }
}

input[type=radio]:checked + .label__image-wrapper {
  border: 5px solid $selected;

  &:after {
    font-family: FontAwesome, sans-serif;
    content: "\F058";
    width: 30px;
    height: 34px;
    font-size: 2em;
    color: #76a7e1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: calc(100% - 0.2em);
    left: calc(100% - 0.3em);
    z-index: 1;
    border-radius: 50%;
  }
}

.text, .email, .password,
.code, .number, .date {
  position: relative;
  max-width: 350px;
  min-width: 320px;
  margin-top: 5px;
  width: 100%;
  height: 50px;
  padding: 5px 40px 5px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $border-color;
  font-size: 15px;
  outline: transparent;
  background-color: transparent;
}

.code {
  max-width: 100px;
  min-width: 50px;
}

.date {
  max-width: 200px;
  min-width: 150px;
}

input[type="date"]:before {
  content: attr(placeholder);
  color: $font-color;
  margin-right: 2em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.number {
  max-width: 400px;
  min-width: 320px;
}

.text::-webkit-input-placeholder,
.password::-webkit-input-placeholder,
.email::-webkit-input-placeholder {
  font-size: 15px;
}

.text:focus:valid,
.email:focus:valid,
.password:focus:valid,
.number:focus:valid,
.date:focus:valid,
.code:focus:valid,
.code:valid,
.date:valid,
.number:valid,
.password:valid,
.text:valid,
.email:valid {
  border-color: #0f0;
  //box-shadow: 0 0 2px 1px #0f0;
  background-color: transparent;

}

.text:focus:invalid,
.email:focus:invalid,
.password:focus:invalid,
.code:focus:invalid,
.number:focus:invalid,
.date:focus:invalid
  //.text:invalid,
  //.password:invalid,
  //.email:invalid
{
  border-color: #f00;
  background: transparent;
}

.text:focus:invalid ~ span,
.code:focus:invalid ~ span,
.password:focus:invalid ~ span,
.email:focus:invalid ~ span {
  &:after {
    position: absolute;
    content: "\f057";
    color: red;
    font-family: FontAwesome, sans-serif;
    font-size: 2em;
    top: 55px;
    right: 10px;
  }
}

.number ~ span {
  &:after {
    position: absolute;
    content: "\f1f0";
    color: $border-button-color;
    font-family: FontAwesome, sans-serif;
    font-size: 2em;
    top: 55px;
    right: 10px;
  }
}

.number:focus:invalid ~ span {
  &:after {
    color: red;
  }
}

.number:focus:valid ~ span {
  &:after {
    color: $selected;
  }
}

.text:valid ~ span,
.code:valid ~ span,
.password:valid ~ span,
.email:valid ~ span {
  &:after {
    position: absolute;
    content: "\f13a";
    color: $selected;
    font-family: FontAwesome, sans-serif;
    font-size: 2em;
    top: 55px;
    right: 10px;
  }
}

.submit {
  width: 100%;
  height: 60px;
  min-width: 150px;
  background-color: $accent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: #fff;
  font-weight: bold;
  @include transition;

  &.gray {
    border-color: $border-button-color;
    background-color: $button-bg;
    color: $font-color-light;
    @include transition;

    &:hover {
      @include transition;
      color: $font-color;
    }
  }

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:hover {
    @include transition;
    border-color: $selected;
    will-change: border-color;
    transition: border-color .3s ease-in;
    color: $font-color;
  }

  &:active {
    background-color: #E8920C;
  }
}

.range {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.range__input:focus {
  //outline: none;
}

.range__text {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #eff0f5;
  height: 10px;
  border-radius: 5px;
}

.range__input {
  width: 85%;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
}

.range__input::before,
.range__input::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #d6d8e2;
}

.range__input::before {
  left: 0;
}

.range__input::after {
  right: 0;
}

.range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $range;
  margin-top: -12px;
  box-sizing: border-box;
  border: 2px solid $range;
  z-index: 2;
  position: relative;
}

.checkbox-label-wrapper {
  cursor: pointer;
  margin-left: 50px;
  display: flex;
  position: relative;
}

.checkbox-wrapper {
  width: 250px;
  margin: 50px auto;
  line-height: 1.4;
  font-size: 50px;
}

.checkbox-label {
  padding-left: 50px;
}

.checkbox-label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $border-button-color;
  position: absolute;
  border-radius: 2px;
  bottom: -4px;
  left: 0;
}

.checkbox-label::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: none;
  border-right: none;
  position: absolute;
  top: 7px;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: top left;
  will-change: width, height;
  box-sizing: border-box;
}


input[type=checkbox]:checked + .checkbox-label::after {
  border-color: black;
  width: 25px;
  height: 15px;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

.input:focus + .checkbox-label::before {
  border-color: $selected;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

