.header {
  padding: 60px 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  &:hover {
    box-shadow: 0 0 0 5px $blue;
  }
}