<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FRIENDS APP</title>
  <link rel="stylesheet" href="css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="app">
    <header class="app-header">
      <h1><a href="index.html">Friends App</a></h1>
      <nav>
        <ul>
          <li>
            <a href="#">Sign up</a>
          </li>
          <li>
            <a href="#">Log in</a>
          </li>
          <li>
            <a href="#">Log out</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="app-body">
        <div class="app-sidebar">
          <form id="form-filter">
            <div id="user-name" class="search-box">
              <span>Sort by name</span>
              <input id="up-name" value="up-name" name="group-name" class="input-name-up" type="radio" />
              <label for="up-name">A-Z</label>
              <input  id="down-name" value="down-name" name="group-name" class="input-name-d" type="radio" />
              <label for="down-name">Z-A</label>
            </div>
            <div id="user-age" class="search-box">
              <span>Sort by age</span>
              <input id="up-age" name="group-age" class="input-age-up" type="radio" value="up-age"/>
              <label for="up-age">1-9</label>
              <input id="down-age" name="group-age" class="input-age-d" type="radio" value="down-age"/>
              <label for="down-age">9-1</label>
            </div>
            <div id="user-gender" class="search-box">
              <span>Filter by gender</span>
              <input id="male" name="group-gender" class="input-gender input-male" type="radio" value="male" />
              <label for="male">male</label>
              <input id="female" name="group-gender" class="input-gender input-female" type="radio" value="female" />
              <label for="female">female</label>
            </div>
            <div class="search-name search-box">
              <input class="search-by-name search-input" type="text" placeholder="Search by name..."></input>
              <button type="button" class="search-name-btn search-btn">search</button>
            </div>
            <div class="search-age search-box">
              <input class="search-by-age search-input" type="text" placeholder="Search by age..."></input>
              <button type="button" class="search-age-btn search-btn">search</button>
            </div>
            <div class="search-box">
              <button type="button" class="btn-reset search-btn">Reset</button>
            </div>
          </form>

        </div>
        <div class="user-list">
        </div>
    </main>
  </div>
  <script type="text/lodash-template" id="user-card">
		<div class="user-list__item">
			<div class="user-card">
        <div class="user-card__img-wrap">
          <img  class="user-card__img" src="<%- img %>" alt="user-photo">
        </div>
        <div class="user-card__name"><%- name %></div>
        <div class="user-card__btns">
          <button class="search-btn btn-flw btn-card">follow</button>
          <button class="search-btn btn-msg btn-card">message</button>
        </div>
        <div class="user-info"
          <p class="user-info__age">Age: <%- age %></p>
          <p class="user-info__gender">Gender: <%- gender %></p>
          <p class="user-info__location">City: <%- location %></p>	
			</div>
			</div>
		</div>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>