
.upload {
  margin-bottom: 105px;
  .container {
    padding-left: 13px;
    padding-right: 13px;
    max-width: 900px;
    margin: 0 auto;
  }
  span {
    font-weight: 400;
    font-size: 12px;
  }
}

.upload__button-wrapper {
  margin-bottom: 60px;
  width: 234px;
  height: 31px;
  text-align: center;
  label {
    font-size: 16px;
    background-color: #f7f7fa;
    padding: 14px 35px;
    padding-left: 66px;
    border: 2px solid #d7d9e0;
    border-radius: 5px;
    color: #9098b8;
    font-weight: 700;
    position: relative;
    cursor: pointer;
  }
  label::before {
    content: '';
    width: 21px;
    height: 13px;
    background-image: url(../img/cloud.png);
    position: absolute;
    top: 19px;
    left: 29px;
  }
  label:hover,  label:focus {
    border: 2px solid #76a7e1;
  }
}

.upload__button-wrapper:focus {
border: 1px solid black
}

.documents__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #abb4cd;
  border-radius: 7px;
  padding: 28px;
}

.documents__info {
  display: flex;
  flex-direction: column;
  h5 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 0.7;
  }
}

.documents__text {
  padding: 10px 0;
}

.delete {
  width: 13px;
  height: 18px;
  background-image: url(../img/recyclebin.png);
  background-repeat: no-repeat;
  background-position: 35% 0;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  margin: 6px 0 6px 40px;
}

.upload {
  .caption::before {
    content: '1';
    width: 42px;
    height: 42px;
    border: 1px solid #6e768f;
    border-radius: 50%;
    position: absolute;
    left: -71px;
    text-align: center;
    line-height: 42px;
    top: -10px;
  }
}
