body {
    background: url(../img/back.jpg) no-repeat center top;
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 3.4rem;
    color: rgba(33,106,212,.78);
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 2.5rem;
    }
}

.card-container {
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000;
    max-width: 630px;
    user-select: none;
}

.card.flip {
    transform: rotateY(180deg);
}

.card.hide {
    visibility: hidden;
}

.card,
.front,
.back {
    width: 150px;
    height: 150px;
}

.card {
    position: relative;
    transition: .6s;
    transform-style: preserve-3d;
    margin: 2.5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 3.5px;
}


.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3.5px;
}

.front {
    background: rgba(0,0,0,.03);
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    background: rgba(0,0,0,.03);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.back img {
    width: 70%;
}