@import "./styles/_fonts.scss";
html,
body,
#root {
  height: 100%
}
body {
  margin: 0;
  padding: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  background-color: #faf8ef;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}