#full-screen-video
    position: fixed
    right: 0
    bottom: 0
    min-width: 100% 
    min-height: 100%
    pointer-events: none
    transition: transform 1.2s cubic-bezier(1,.01,.47,.88)

.full-screen-video-zoom
    transform: scale(12) !important