.order-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 90px 50px 130px;
    flex-wrap: wrap;
}

.order-bottom .link{
    @extend %defaultLink;
}

.order-bottom .order-btn {
    margin-left: 40px;
    margin-right: 20px;
}
