.order-top{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid $borderColor;
}

.order-top .title{
    text-transform: uppercase;
}

.order-details{
    flex: 4;
    padding: 20px 20px 15px 70px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.order-details .icon{
    @include defaultIcon(30px, 40px, "../img/bag.png")
}

.order-buttons{
    flex: 1;
    padding: 20px 30px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-help{
    flex: 2;
    padding: 20px 40px 15px 70px;
    line-height: 1.3;
    border-left: 1px solid $borderColor;
    display: flex;
    flex-direction: column;
    position: relative;
}

.order-help .icon{
    @include defaultIcon(30px, 40px, "../img/help.png")
}

.order-summary{
    margin-top: 15px;
}

.info{
    text-align: justify;
}

.contact{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact a{
    color: darken($gray2, 20%);
    text-decoration: none;
}

