@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #eee;
	font: 20px/1.5em sans-serif;
}

header {
	background: #88f;
	color: #fff;
	font: 50px 'Indie Flower', Impact;
	text-indent: 25%;
	letter-spacing: 0.05em;
}
.page-content {
	flex-wrap: wrap;
}
.sort {
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0 25px;
}
.sort-inner {
	position: sticky;
	top: 10px;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #000;
	background: #f8f8f8;
}
main {
	flex-grow: 1;
	padding: 20px;
	text-align: center;
}
#content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 850px;
	margin: auto;
}
footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
	padding-left: 50px;
	background: #ddd;
}

.invisible {
	visibility: hidden;
}
.hidden {
	display: none;
}

/*
 * Form items
 */

.sort-inner > .field, fieldset > * {
	margin: 10px 0;
}
.field {
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 18px;
}

.btn {
	background: #9cf;
	cursor: pointer;
	transition: filter .25s, box-shadow .25s;
	box-shadow: 0 2px 6px #888;
}
.btn:hover {
	filter: brightness(.9);
	box-shadow: 0 4px 12px #888;
}
.btn:focus {
	filter: brightness(.8);
}
.red {
	background: #f44;
}

.row {
	display: flex;
	justify-content: space-between;
}
.row > .field {
	margin: 0 5px;
}
.row > .field:first-child {
	margin-left: 0;
}
.row > .field:last-child {
	margin-right: 0;
}

#btn-load-more {
	width: 150px;
	margin-top: 20px;
	background: #ddd;
}
:empty + #btn-load-more {
	display: none;
}

/*
 * Cards
 */

.card {
	width: 250px;
	margin: 10px;
	padding-top: 10px;
	background: #fff;
	box-shadow: 0 2px 6px #888;
	font-size: 16px;
	line-height: 1.25em;
	text-align: center;
	cursor: default;
	transition: box-shadow 0.25s;
}
.card:hover {
	box-shadow: 0 4px 12px #888;
}

.user {
	position: relative;
	margin: 0;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.user.age {
	font-weight: bold;
}
.user.email, .user.phone {
	color: #888;
	font-size: 14px;
}
.user.city {
	text-transform: capitalize;
}
.picture {
	margin-bottom: 15px;
	border-radius: 50%;
	box-shadow: 0 0 8px #000;
}
.username {
	margin-top: 15px;
	padding: 10px 0;
	font-size: 20px;
	text-transform: capitalize;
}
.username.male {
	background: #5cc;
}
.username.female {
	background: #f48;
}
.show-more {
	color: #000;
}
.show-more:hover, .show-more:focus {
	color: #444;
}
.extra-hidden {
	display: none;
}

/*
 * Media
 */

@media screen and (min-width: 575px) {
	.card {margin: 10px 50px;}
}
@media screen and (min-width: 635px) {
	.page-content {
		flex-wrap: nowrap;
	}
	.sort {
		flex-grow: 0;
		width: 330px;
		margin: 0 0 0 25px;
	}
	main {
		margin-right: 25px;
	}
	.card {margin: 10px;}
}
@media screen and (min-width: 970px) {
	.card {margin: 10px 50px;}
}
@media screen and (min-width: 980px) {
	.extra-hidden {display: block;}
	.show-more {display: none;}
	.card {margin: 10px;}
}
