.toggle__content-wrapper {
    opacity: 0;
    visibility: hidden;
    width: 320px;
    padding: 40px 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
    max-height: 500px;
    overflow: auto;
    transition: all 100ms ease-in-out;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);

    @supports (overflow: overlay) {
        overflow: overlay
    }
}
