body {
  text-align: center;
}

.navigation p {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 65px;
  user-select: none;
}

.navigation p:hover {
  background-color: #3e8e41;
}

.navigation p:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.left, .right, .down {
  display: inline-block;
  margin: 20px;
}

.up {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:700px) {
  .PlayScreen {
    width: 100%;
  }

  .navigation p {
    font-size: 12px;
    width: 35px;
  }
}

@media (max-width:410px) {
  .PlayScreen {
    width: 100%;
  }

  .left, .right, .down {
    display: inline-block;
    margin: 5px;
  }
}
