$checkbox-size: 15px;

.checkbox {
  position: relative;

  &__input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    bottom: 0;
    left: 18px;
  }

  &__phantom-box {
    position: absolute;
    top: 50%;
    left: -$checkbox-size * 2;
    transform: translateY(-50%);
    width: $checkbox-size;
    height: $checkbox-size;
    border: 2px solid var(--darkgray);

    &:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 2px;
      display: block;
      width: 0;
      height: 0;
      border: 2px solid transparent;
      border-left: none;
      border-bottom: none;
      transform: rotate(130deg);
    }
  }

  &__input:checked + .checkbox__phantom-box:after {
    border-color: var(--darkgray);
    width: $checkbox-size;
    height: $checkbox-size / 3;
    transition: height 0.125s ease-out, width 0.125s ease-out 0.125s;
  }

  &__input:focus + .checkbox__phantom-box,
  &__input:checked + .checkbox__phantom-box {
    box-shadow: inset 0px 0px 5px 1.5px rgba(#56cac6, 0.65);
  }
}
