.login {
  color: var(--lightgray);

  &__helper {
    padding: 20px 0;
    margin: 0;
    color: var(--darkgray);
    font-size: 14px;
    text-align: left;

    &--up {
      padding-bottom: 10px;
    }

    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__link {
    color: inherit;
    outline: none;
    transition-property: color;
    transition-duration: 0.175s;
    transition-timing-function: linear;

    &:active,
    &:visited {
      color: var(--blue);
    }

    &:focus,
    &:hover {
      color: var(--lightgreen)
    }
  }

  &__fields {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;

    @media only screen and (max-width: $mobile) {
      margin-top: 0;
    }
  }

  &__field {
    width: 300px;
    margin: 10px 0;

    @media only screen and (max-width: $mobile) {
      width: 100%;
    }

    &--inline {
      display: inline-block;
    }

    &--card {
      width: 350px;
    }

    &--date {
      width: 200px;
      margin: 0 15px;

      @media only screen and (max-width: $mobile) {
        width: 100%;
        margin: 0;
      }
    }

    &--code {
      width: 100px;
    }

    &__name {
      padding: 0 5px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__input {
      margin-top: 10px;
    }
  }

  &__fields--card-data {

    .login__field {
      display: inline-block;
    }
  }

  .login__field--inline {
    &:nth-child(n + 2) {
      margin-right: 15px;
    }
  }

  &__card-types {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;

    @media only screen and (max-width: $mobile) {
      flex-flow: row wrap;
      justify-content: center;
    }
  }

  &__card-type {
    width: 200px;
    margin: 0 20px;
    &:first-child {
      margin-left: 0;
    }

    @media only screen and (max-width: $mobile) {
      flex: 1 0 100%;
      margin: 0;
    }
  }
}
