.range {

  &__input {
    position: relative;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    background: transparent;

    &:focus {
      outline: none;
    }


    &::-ms-track {
      width: 100%;
      cursor: pointer;

      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--lightgreen);
      z-index: 5;
      cursor: pointer;
    }

    input[type=range]::-ms-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--lightgreen);
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      z-index: 5;
      height: 20px;
      width: 20px;
      margin-top: -5px;
      border-radius: 50%;
      background: var(--lightgreen);
      cursor: pointer;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8px;
      background: var(--darkwhite);
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      height: 8px;
      background: var(--darkwhite);
      cursor: pointer;
    }

    &::-ms-fill-lower {
      width: 100%;
      height: 8px;
      background: var(--darkwhite);
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      background: var(--darkwhite);
      border-radius: 5px;
      cursor: pointer;
    }

    &:focus::-webkit-slider-runnable-track {
      background: rgba(#56cac6, 0.3);
    }


    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--lightgray);
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  &__signatures {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }

  &__signature {
    &--selected {
      color: var(--lightgreen);
    }
  }
}
