.order-form {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #c9d0e1;
  border-radius: 4px;
}

.container-row {
  display: flex;

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
}

.checkout {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  position: relative;
  padding: 2.5rem 0rem 2.5rem 4rem;
  border-bottom: 1px solid #c9d0e1;
}

.checkout__button {
  min-width: 170px;
  padding: 1rem 1.4rem;
  margin-top: 1.5rem;

  @media screen and (max-width: 1105px){
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

.table {
  display: flex;
  flex-wrap: wrap;
  color: #6e768f;
}

.table__col {
  width: 90px;
  margin-right: 1.5rem;
}

.table__title {
  margin-bottom: .6rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.table__value {
  margin: 0;
  font-size: 0.9rem;
}

.help-info {
  flex-basis: 30%;
  padding: 2.5rem 2.1rem 2.5rem 4rem;
  border-left: 1px solid #c9d0e1;
  border-bottom: 1px solid #c9d0e1;

  @media screen and (max-width: 850px) {
    border-left: none;
  }
}

.help-info__text {
  font-size: .9rem;
  color: #afa6b8;
  line-height: 1.4;
}

.help-info__address {
  font-style: normal;
}

.help-info__tel,
.help-info__mail {
  font-size: .9rem;
  font-weight: 700;
  text-decoration: none;
  color: #6e768f;
}

.help-info__tel {
  margin-right: 1rem;
}

.choosing-translation {
  position: relative;
  padding-top: 6rem;
  text-align: center;
}

.choosing-translation__title {
  display: inline;
  padding-bottom: 10px;
  font-weight: 400;
  line-height: 2.3;
  text-transform: uppercase;
  border-bottom: 1px solid #d7d8e0;
  color: #6e768f;
}

.translation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4.3rem 0 3rem;
  padding: 0;
}

.choosing-translation__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.choosing-translation__input:checked + .translation-list__item,
.choosing-translation__input:focus + .translation-list__item {
  box-shadow: 0px 0px 0px 3px #76a7e1;
  border-color: transparent;
}

.choosing-translation__input:checked + .translation-list__item > .translation-list__circle {
  display: flex;
}

.translation-list__item {
  position: relative;
  width: 280px;
  margin: 1rem .9rem;
  padding: 1.1rem 0;
  background-color: #f7f7fa;
  border: 1px solid #d7d9e0;
  border-radius: 4px;
  list-style: none;
  cursor: pointer;
}

.translation-list__title {
  margin-bottom: 0;
  font-size: 1.1rem;
  color: #9098b8;
}

.translation-list__circle {
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #76a7e1;
  border-radius: 50%;
}

.heading {
  position: relative;

  @media screen and (max-width: 425px) {
    margin-left: 50px;
  }
}
.heading__circle {
  position: absolute;
  display: flex;
  left: -70px;
  top: -9px;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  color: #6e768f;
  font-weight: 700;
  border: 1px solid #6e768f;
  border-radius: 50%;
}

.heading__title {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  color: #6e768f;
}
.heading__desc {
  vertical-align: middle;
  display: inline-block;
  margin: -5px 0 0 1.5rem;
  font-size: .9rem;
  color: #9fa5b8;
}

.uploading-documents {
  padding-left: 110px;
  padding-right: 110px;

  @media screen and (max-width: 820px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (max-width: 425px) {
    padding-left: 30px;
    padding-right: 20px;
  }
}

.uploading-documents__file-input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.uploading-documents__file-input:focus ~ label > .uploading-documents__btn {
  box-shadow: 0px 0px 0px 2px #76a7e1;
}

.uploading-documents__btn {
  display: flex;
  align-items: center;
  width: 180px;
  margin: 3rem 0;
  padding: .6rem .7rem;
  font-weight: 400;
  color: #a5abc5;
  border: 1px solid #d7d8e0;
  border-radius: 4px;
  background-color: #f7f7fa;
  cursor: pointer;
}

.uploading-documents__btn-text {
  margin: 0 0 0 1rem;
}

.file-table {
  width: 100%;
  padding: 2rem 2.5rem;
  border: 1px solid #e6e8ee;
  border-radius: 4px;
  text-align: left;
  color: #a4abc4;

  @media screen and (max-width: 768px) {
    padding: 1rem;
    .file-table__icon {
      display: none;
    }
    thead  {
      display: none;
    }
    td::before {
      content: attr(data-label);
      float: left;
      font-weight: 600;
    }
    td {
      display: block;
      text-align: right;
    }
    tr {
      display: block;
      border-bottom: 1px solid #e6e8ee;
      padding-bottom: 1rem;
    }
  }
}

.file-table__head {
  font-size: .9rem;
  text-transform: uppercase;
}

.file-table__cell {
  padding-top: 1rem;
}

.file-table__btn {
  margin-left: 15px;
  padding: 0;
  color: #a4abc4;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.chosing-lang-pairings {
  @extend .uploading-documents;
  margin-top: 6rem;
  margin-bottom: 6rem;
  color: #a5abc5;
}

.chosing-lang-pairings__from,
.chosing-lang-pairings__to {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 425px) {
    margin-top: 2rem;
  }
}

.chosing-lang-pairings__from {
  position: relative;
  margin-top: 1rem;
}

.chosing-lang-pairings__to {
  position: relative;
}


.chosing-lang-pairings__text,
.chosing-lang-pairings__text1 {
  position: absolute;
  top: 33px;
  margin-right: 1.1rem;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;

  @media screen and (max-width: 425px) {
    top: -10px;
  }
}

.chosing-lang-pairings__text {
  left: -55px;

  @media screen and (max-width: 425px) {
    left: 10px;
  }
}

.chosing-lang-pairings__text1 {
  left: -35px;

  @media screen and (max-width: 425px) {
    left: 10px;
  }
}

.chosing-lang-pairings__select {
  margin-top: 1.5rem;
  margin-right: 1.4rem;
}

.chosing-lang-pairings__select {
  min-width: 190px;
  padding: 1.1rem 1.3rem;
  font-weight: 600;
  background-color: #f7f7fa;
  color: #9098b7;
  border: 1px solid #d7d8e0;
  border-radius: 4px;
}

.chosing-lang-pairings__remove-btn {
  padding: 0;
  margin: 0 1.4rem 0 -1rem;
  color: #a5abc5;
  border: 0;
  background-color: transparent;
  cursor: pointer;

}

.chosing-lang-pairings__add-btn {
  font-weight: 600;
  margin-top: 1.5rem;
  padding: 1.3rem 1.3rem;
  background-color: #f7f7fa;
  color: #9098b7;
  border: 1px solid #d7d8e0;
  border-radius: 4px;
}

.selecting-tone {
  @extend .uploading-documents;
}


.tone-list {
  margin-top: 2.5rem;
  padding-left: 0;
}

.tone-list__item {
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 1.4rem 2.1rem;
  width: 180px;
  list-style: none;
  color: #9098b8;
  background-color: #f7f7fa;
  border: 1px solid #d7d9e0;
  border-radius: 4px;
  cursor: pointer;
}

.tone-list__input {
  @extend .uploading-documents__file-input;
}

.tone-list__text {
  font-weight: 600;
  margin: 0 0 0 1rem;
}


.tone-list__input:checked + .tone-list__item,
.tone-list__input:focus + .tone-list__item {
  box-shadow: 0px 0px 0px 3px #76a7e1;
  border-color: transparent;
}

.tone-list__input:checked + .tone-list__item > .tone-list__circle {
  display: flex;
}

.tone-list__circle {
  @extend .translation-list__circle;
}

.section-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media screen and (max-width: 950px) {
    flex-wrap: wrap;
  }

}

.job-urgency {
  @extend .uploading-documents;
  padding-right: 0;
  padding-left: 8%;

  @media screen and (max-width: 950px) {
    margin-top: 4rem;
    padding-left: 80px;
  }
  @media screen and (max-width: 425px) {
    padding-left: 30px;
  }
}

.job-urgency__range {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 3.5rem 0;
}

.job-urgency__range input {
  width: 100%;
  -webkit-appearance: none;
}

.job-urgency__range input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #edbe76;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

.job-urgency__range input::-webkit-slider-runnable-track {
  background: #eff0f5;
  height: 10px;
  border-radius: 10px;
}

.job-urgency__urgency,
.job-urgency__average,
.job-urgency__not-urgency {
  position: absolute;
  top: 15px;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #a4b1dd;
}

.job-urgency__not-urgency {
  left: -10px;
}

.job-urgency__average {
  left: 43%;
}

.job-urgency__urgency {
  right: -35px;
}

.timeline-info {
  margin: 6rem 5rem 0 0;
  padding: 1.5rem 2rem .5rem 4rem;
  border: 1px solid #e6e8ee;
  border-radius: 4px;

  @media screen and (max-width: 425px) {
    margin: 3rem 2rem 0 0;
    padding: 1.5rem 2rem .5rem 3.5rem;
  }
}

.timeline-info--yellow {
  font-weight: 600;
  text-transform: uppercase;
  color: #edbe76;
}

.timeline-info__head {
  color: #727895;
}

.timeline-info__text {
  font-size: .9rem;
  color: #aba5b8;
  line-height: 1.3;
}

.sign-up {
  margin-top: 6rem;
  @extend .uploading-documents;
}

.sign-up__text {
  margin: 3.6rem 0 3rem;
  font-weight: 500;
  color: #9fa5b8;
}

.sign-up__link {
  color: #9fa5b8;
}

.sign-up__title {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #a5abc5;
}

.sign-up__label {
  margin-top: 2rem;

}

.sign-up__input {
  width: 300px;
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #d7d9e0;
  border-radius: 4px;
  color: #6e768f;

  @media screen and (max-width: 425px) {
    width: 200px;
  }
}

.sign-up__input:focus:invalid {
  background: rgba(241,43,43,.267);
}

.sign-up__input:valid {
  background: rgba(76,175,79,.651);
}

.sign-up__input--middle {
  min-width: 160px;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.sign-up__input--small {
  min-width: 100px;

}

.sign-up__container {
  display: flex;
  flex-wrap: wrap;
}

.card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.card-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 2.4rem 0;
  list-style: none;
  border: 1px solid #d7d9e0;
  border-radius: 4px;
  background-color: #f7f7fa;
  cursor: pointer;
}

.card-list__input {
  @extend .uploading-documents__file-input;
}

.card-list__circle {
  @extend .translation-list__circle;
}

.card-list__input:checked + .card-list__item > .card-list__circle {
  display: flex;
}

.card-list__input:checked + .card-list__item,
.card-list__input:focus + .card-list__item {
  box-shadow: 0px 0px 0px 3px #76a7e1;
  border-color: transparent;
}

.accept {
  @extend .uploading-documents;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 6rem;
  padding-bottom: 3rem;

  @media screen and (max-width: 920px) {
    justify-content: flex-start;
  }
}

.accept__checkbox {
  margin-right: 1rem;
}

.accept__text {
  color: #6d82c0;
  margin-right: 2rem;
}

.accept__button {
  margin: 1rem .9rem;
  min-width: 190px;
}

.accept-container {
  display: flex;
  flex-wrap: wrap;
}
